{% load floppyforms %}
{% load i18n %}
{% load widget_tweaks %}

<script type="text/javascript" src="{{ STATIC_URL}}geonode/js/utils/thumbnail.js"></script>

{% block body_outer %}
    <div id="settings" class="modal">
        <div class="modal-content">
            <h4>Publishing</h4>
            <div>
                <label for="{{ layer_form.metadata_uploaded_preserve|id }}">
                    {{ layer_form.metadata_uploaded_preserve |attr:"class:filled-in" }}
                    <span>{{ layer_form.metadata_uploaded_preserve.label }}</span>
                </label>
            </div>
            <div>
                <label for="{{ layer_form.is_approved|id }}">
                    {{ layer_form.is_approved |attr:"class:filled-in" }}
                    <span>{{ layer_form.is_approved.label }}</span>
                </label>
            </div>
            <div>
                <label for="{{ layer_form.is_published|id }}">
                    {{ layer_form.is_published |attr:"class:filled-in" }}
                    <span>{{ layer_form.is_published.label }}</span>
                </label>
            </div>
            <div>
                <label for="{{ layer_form.featured|id }}">
                    {{ layer_form.featured |attr:"class:filled-in" }}
                    <span>{{ layer_form.featured.label }}</span>
                </label>
            </div>
            <br>
            <h4>Other Settings</h4>
            <div>
                <label for="{{ layer_form.is_mosaic|id }}">
                    {{ layer_form.is_mosaic |attr:"class:filled-in" }}
                    <span>{{ layer_form.is_mosaic.label }}</span>
                </label>
            </div>
            <div>
                <label for="{{ layer_form.has_time|id }}">
                    {{ layer_form.has_time |attr:"class:filled-in" }}
                    <span>{{ layer_form.has_time.label }}</span>
                </label>
            </div>
            <div>
                <label for="{{ layer_form.has_elevation|id }}">
                    {{ layer_form.has_elevation |attr:"class:filled-in" }}
                    <span>{{ layer_form.has_elevation.label }}</span>
                </label>
            </div>
            <div class="input-field">
                {{ layer_form.time_regex |attr:"class:" }}
                <label>{{ layer_form.time_regex.label }}</label>
            </div>
            <div class="input-field">
                {{ layer_form.elevation_regex |attr:"class:" }}
                <label for="{{ layer_form.elevation_regex|id }}">{{ layer_form.elevation_regex.label }}</label>
            </div>
        </div>
        <div class="modal-footer">
            <a href="#!" class="modal-close waves-effect waves-light btn-flat">Close</a>
        </div>
    </div>

    <div id="preview" class="modal">
        <div class="modal-content">
            <h4>Preview</h4>
            <!-- <iframe id="preview_encoder_iframe" height="100%" width="100%" style="width:0;height:0;border:0;border:none;" src="{% url 'layer_metadata_detail' resource.alternate %}"></iframe> -->
            {% if metadataxsl %}
                <iframe id="preview_encoder_iframe" frameborder="0" scrolling="no" onload="if(this.contentWindow.document.body) {}" src="/showmetadata/xsl/{{resource.id}}"></iframe>
            {% else %}
                <iframe id="preview_encoder_iframe" frameborder="0" scrolling="no" onload="if(this.contentWindow.document.body) {$('#preview').height(this.contentWindow.document.body.scrollHeight)}" src="/catalogue/csw_to_extra_format/{{resource.uuid}}/{{resource.title}}.html"></iframe>
            {% endif %}
        </div>
        <div class="modal-footer">
            <a href="#!" class="modal-close waves-effect waves-light btn-flat">Close</a>
        </div>
    </div>

    <ul class="stepper linear">
        <li class="step active">
            <div class="step-title waves-effect">Basic Metadata</div>
            <div class="step-content">
                <!-- Your step content goes here (like inputs or so) -->
                <div id="basicDescriptiveInfo" class="row">
                    <div class="input-field col s12 l4">
                        <span><label for="{{ layer_form.thumbnail_url|id }}">{% trans "Thumbnail" %}</label></span>
                        <div id="embedded_map" class="mrg-btm" style="height:250px;width: 250px;">
                            <div id="preview_map" style="height: 90%;width: 100%;">
                            </div>
                            <div id="preview_image" style="height: 90%;width: 100%;">
                                <img id="preview_image_src" src="{{ layer_form.thumbnail_url.value }}" height="100%" width="100%"/>
                            </div>
                            <div class="right-align">
                                <span class="">
                                    <a class="btn waves-effect waves-light red darken-3" href="#" id="change_thumbnail">{% trans "Edit" %}</a>
                                    <a class="waves-effect waves-light btn red darken-3" href="#" id="set_thumbnail">{% trans "Save" %}</a>
                                    <!-- span class="input-group-addon">
                                        <form id="form1" runat="server">
                                            <input type='file' id="imgInp" />
                                        </form>
                                    </span -->
                                </span>
                            </div>
                        </div>
                    </div>
                    <div class="input-field col s12 xl8">
                        {{ layer_form.title |attr:"class:" }}
                        <label for="{{ layer_form.title|id }}">{{ layer_form.title.label }}</label>
                    </div>
                    <div class="input-field col s12 xl8">
                        {{ layer_form.abstract |attr:"class:materialize-textarea" }}
                        <label for="{{ layer_form.abstract|id }}">{{ layer_form.abstract.label }}</label>
                    </div>
                    <div class="input-field col s12 xl8">
                        <span class="helper-text">{{ layer_form.keywords.label }}</span>
                        {{ layer_form.keywords |attr:"class:" }}
                    </div>
                    <div class="input-field col s12 xl8">
                        {{ tkeywords_form }}
                    </div>
                    <div class="input-field col s12">
                        {{ layer_form.date_type |attr:"class:" }}
                        <label for="{{ layer_form.date_type|id }}">{{ layer_form.date_type.label }}</label>
                    </div>
                    <div class="input-field col s12">
                        {{ layer_form.date |attr:"class:" }}
                        <label for="{{ layer_form.date|id }}">{{ layer_form.date.label }}</label>
                    </div>
                    <div id="basicCategoryInfo" class="input-field col s12">
                        <select
                            name="category_choice_field"
                            id="category_form"
                            class=""
                            >
                            <option {% if not category_form.initial %} selected="selected" {% endif %} value="">---</option>
                            {% for choice in category_form.category_choice_field.field.choices %}
                                <option
                                {% ifequal category_form.initial choice.0 %} selected="selected" {% endifequal %}
                                value="{{ choice.0 }}"
                                data-content="<span class='has-popover' data-container='body' data-toggle='popover' data-placement='top'  data-content=' {{ choice.2.description }}' rigger='hover'><i class='fa {{choice.2.fa_class}}'></i> {{ choice.2.gn_description }}<span>"
                                >{{ choice.2.gn_description }}</option>
                            {% endfor %}
                        </select>
                        <label for="{{ category_form.category_choice_field|id }}">{% trans "Category" %}</label>
                    </div>
                    <div id="basicGroupInfo" class="input-field col s12">
                        <!-- <span><label for="id_resource-group" class="control-label required-field">{% trans "Group" %}</label></span> -->
                        <select
                            name="resource-group"
                            id="id_resource-group"
                            class=""
                            >
                            <option {% if not group %} selected="selected" {% endif %} value="">---</option>
                            {% for group in metadata_author_groups %}
                                <option
                                    value="{{ group.group.id }}"
                                    {% ifequal resource.group group.group %} selected="selected" {% endifequal %}
                                    >{{ group.title }}
                                </option>
                            {% endfor %}
                        </select>
                        <label for="id_resource-group" class="">{% trans "Group" %}</label>
                    </div>
                </div>
                <div class="step-actions hide">
                    <!-- Here goes your actions buttons -->
                    <button class="waves-effect waves-dark btn red darken-3 next-step">CONTINUE</button>
                </div>
            </div>
        </li>
        <li class="step">
            <div class="step-title waves-effect waves-dark">Location and Licenses</div>
            <div class="step-content">
                <div id="mdinfo" class="row">
                    <div class="input-field col s12">
                        {{ layer_form.language }}
                        <label for="{{ layer_form.language|id }}">{{ layer_form.language.label }}</label>
                    </div>
                    <div class="input-field col s12">
                        {{ layer_form.license }}
                        <label for="{{ layer_form.license|id }}">{{ layer_form.license.label }}</label>
                    </div>
                    <div class="input-field col s12">
                        {{ layer_form.regions }}
                        <label for="{{ layer_form.regions|id }}">{{ layer_form.regions.label }}</label>
                    </div>
                    <div class="input-field col s12">
                        {{ layer_form.data_quality_statement |attr:"class:materialize-textarea" }}
                        <label for="{{ layer_form.data_quality_statement|id }}">{{ layer_form.data_quality_statement.label }}</label>
                    </div>
                    <div class="input-field col s12">
                        {{ layer_form.restriction_code_type }}
                        <label for="{{ layer_form.restriction_code_type|id }}">{{ layer_form.restriction_code_type.label }}</label>
                    </div>
                    <div class="input-field col s12">
                        {{ layer_form.constraints_other |attr:"class:materialize-textarea" }}
                        <label for="{{ layer_form.constraints_other|id }}">{{ layer_form.constraints_other.label }}</label>
                    </div>
                </div>
                <div class="step-actions hide">
                    <button class="waves-effect waves-dark btn-flat previous-step">BACK</button>
                    <button class="waves-effect waves-dark btn red darken-3 next-step">CONTINUE</button>
                </div>
            </div>
        </li>
        <li class="step">
            <div class="step-title waves-effect waves-dark">Optional Metadata</div>
            <div class="step-content">
                <div class="row">
                    <div class="input-field col s12">
                        {{ layer_form.edition |attr:"class:" }}
                        <label for="{{ layer_form.edition|id }}">{{ layer_form.edition.label }}</label>
                    </div>
                    <div class="input-field col s12">
                        {{ layer_form.purpose |attr:"class:materialize-textarea" }}
                        <label for="{{ layer_form.purpose|id }}">{{ layer_form.purpose.label }}</label>
                    </div>
                    <div class="input-field col s12">
                        {{ layer_form.supplemental_information |attr:"class:materialize-textarea" }}
                        <label for="{{ layer_form.supplemental_information|id }}">{{ layer_form.supplemental_information.label }}</label>
                    </div>
                    <div class="input-field col s12">
                        {{ layer_form.temporal_extent_start |attr:"class:" }}
                        <label for="{{ layer_form.temporal_extent_start|id }}">{{ layer_form.temporal_extent_start.label }}</label>
                    </div>
                    <div class="input-field col s12">
                        {{ layer_form.temporal_extent_end |attr:"class:" }}
                        <label for="{{ layer_form.temporal_extent_end|id }}">{{ layer_form.temporal_extent_end.label }}</label>
                    </div>
                    <div class="input-field col s12">
                        {{ layer_form.maintenance_frequency |attr:"class:" }}
                        <label for="{{ layer_form.maintenance_frequency|id }}">{{ layer_form.maintenance_frequency.label }}</label>
                    </div>
                    <div class="input-field col s12">
                        {{ layer_form.spatial_representation_type |attr:"class:" }}
                        <label for="{{ layer_form.spatial_representation_type|id }}">{{ layer_form.spatial_representation_type.label }}</label>
                    </div>
                    <div class="input-field col s12">
                        {{ layer_form.poc |attr:"class:" }}
                        <label for="{{ layer_form.poc|id }}">{{ layer_form.poc.label }}</label>
                    </div>
                    <div class="input-field col s12">
                        {{ layer_form.owner |attr:"class:" }}
                        <label for="{{ layer_form.owner|id }}">{{ layer_form.owner.label }}</label>
                    </div>
                    <div class="input-field col s12">
                        {{ layer_form.metadata_author |attr:"class:" }}
                        <label for="{{ layer_form.metadata_author|id }}">{{ layer_form.metadata_author.label }}</label>
                    </div>
                </div>
                <div class="step-actions hide">
                    <button class="waves-effect waves-dark btn-flat previous-step">BACK</button>
                    <button class="waves-effect waves-dark btn red darken-3 next-step">CONTINUE</button>
                </div>
            </div>
        </li>
        <li class="step">
            <div class="step-title waves-effect waves-dark">Dataset Attributes</div>
            <div class="step-content">
                <div style="">
                    <div>
                        {{ attribute_form.management_form }}
                        <table class="striped">
                            <tr class="table-header">
                                <th style="width:25px;background: #efefef;"></th>
                                <th>{% trans "Attribute" %}</th>
                                <th>{% trans "Label" %}</th>
                                <th>{% trans "Description" %}</th>
                                <th>{% trans "Display Order" %}</th>
                            </tr>
                            {% for form in attribute_form.forms %}
                                {% if form.attribute %}
                                    <tr>
                                        <td style="width:25px;background: #efefef;"> <span class="grippy"></span></td>
                                        <td><div style="display:none">{{form.id}}</div>{{form.attribute}}</td>
                                        <td>{{form.attribute_label}}</td>
                                        <td>{{form.description}}</td>
                                        <td>{{form.display_order}}</td>
                                    </tr>
                                {% endif %}
                            {% endfor %}
                        </table>
                    </div>
                </div>
                <div class="step-actions hide">
                    <button class="waves-effect waves-dark btn red darken-3 next-step" data-feedback="noThing">ENDLESS CALLBACK!</button>
                </div>
            </div>
        </li>
    </ul>

    {% if GEONODE_SECURITY_ENABLED %}
    {% endif %}

    <script>
        $("#id_resource-owner").remove();
        $("#id_resource-poc").remove();
        $("#id_resource-metadata_author").remove();
    </script>
    
{% endblock %}

{% block extra_script %}
    <script>
        $(document).ready(function() {
            $("input").removeClass("has-popover")
        });
    </script>
{% endblock extra_script %}