{% load i18n %}

<ul id="tabs_swipe_action_detail" class="tabs red darken-3">
    <li class="tab col s3"><a href="#info" class="white-text">{% trans "Info" %}</a></li>

    {% if resource.polymorphic_ctype.name == 'layer' %}
        <li class="tab col s3"><a href="#attributes" class="white-text">{% trans "Attributes" %}</a></li>
    {% endif %}

    {% if resource.is_mosaic %}
        <li class="tab col s3"><a href="#granules" class="white-text">{% trans "Granules" %}</a></li>
    {% endif %}

    {% if DISPLAY_RATINGS %}
        <li class="tab col s3"><a href="#rate" class="white-text">{% trans "Rate" %}</a></li>
    {% endif %}

    {% if DISPLAY_COMMENTS %}
        <li class="tab col s3"><a href="#comments" class="white-text">{% trans "Comments" %}</a></li>
    {% endif %}

    {% if GEOGIG_ENABLED and resource.link_set.geogig %}
        <li class="tab col s3"><a href="#geogig" class="white-text">{% trans "GeoGig" %}</a></li>
    {% endif %}

    {% if EXIF_ENABLED and resource.polymorphic_ctype.name == 'document' and exif_data %}
        <li class="tab col s3"><a href="#exif" class="white-text">{% trans "Exif" %}</a></li>
    {% endif %}
</ul>