{% load i18n %}
<ul class="collapsible popout" id="permissions-body">
    <li class="active" style="margin-top: 0;">
        <div class="collapsible-header red darken-3 white-text">{% trans "Who can view it?" %}</div>
        <div class="collapsible-body">
            <div class="row">
                <div class="col s12">
                    <label>
                        <input type="checkbox" class="filled-in" name="view_anonymous" id="perms_view_anyone" value="AnonymousUser" {% if DEFAULT_ANONYMOUS_VIEW_PERMISSION %}checked{% endif %} />
                        <span>{% trans "Anyone" %}</span>
                    </label>
                </div>
                <div class="input-field col s12">
                    <input id="view_resourcebase_users" type="text" name="view_resourcebase" class="user-select">
                </div>
                <div class="input-field col s12">
                    <input id="view_resourcebase_groups" type="text" name="view_resourcebase" class="group-select">
                </div>
            </div>
        </div>
    </li>
    <li>
        <div class="collapsible-header red darken-3 white-text">{% trans "Who can download it?" %}</div>
        <div class="collapsible-body">
            <div class="row">
                <div class="col s12">
                    <label>
                        <input type="checkbox" class="filled-in" name="download_anonymous" id="perms_download_resourcebase_anyone" value="AnonymousUser" {% if DEFAULT_ANONYMOUS_DOWNLOAD_PERMISSION %}checked{% endif %} />
                        <span>{% trans "Anyone" %}</span>
                    </label>
                </div>
                <div class="input-field col s12">
                    <input id="download_resourcebase_users" type="text" name="download_resourcebase" class="user-select">
                </div>
                <div class="input-field col s12">
                    <input id="download_resourcebase_groups" type="text" name="download_resourcebase" class="group-select">
                </div>
            </div>
        </div>
    </li>
    <li>
        <div class="collapsible-header red darken-3 white-text">{% trans "Who can change metadata for it?" %}</div>
        <div class="collapsible-body">
            <div class="row">
                <div class="input-field col s12">
                    <input id="change_resourcebase_metadata_users" type="text" name="change_resourcebase_metadata" class="user-select">
                </div>
                <div class="input-field col s12">
                    <input id="change_resourcebase_metadata_groups" type="text" name="change_resourcebase_metadata" class="group-select">
                </div>
            </div>
        </div>
    </li>
    {% if is_layer %}
    <li>
        <div class="collapsible-header red darken-3 white-text">{% trans "Who can edit data for this layer?" %}</div>
        <div class="collapsible-body">
            <div class="row">
                <div class="input-field col s12">
                    <input id="change_layer_data_users" type="text" name="change_layer_data" class="user-select">
                </div>
                <div class="input-field col s12">
                    <input id="change_layer_data_groups" type="text" name="change_layer_data" class="group-select">
                </div>
            </div>
        </div>
    </li>
    <li>
        <div class="collapsible-header red darken-3 white-text">{% trans "Who can edit styles for this layer?" %}</div>
        <div class="collapsible-body">
            <div class="row">
                <div class="input-field col s12">
                    <input id="change_layer_style_users" type="text" name="change_layer_style" class="user-select">
                </div>
                <div class="input-field col s12">
                    <input id="change_layer_style_groups" type="text" name="change_layer_style" class="group-select">
                </div>
            </div>
        </div>
    </li>
    {% endif %}
    <li>
        <div class="collapsible-header red darken-3 white-text">{% trans "Who can manage it? (update, delete, change permissions, publish/unpublish it)" %}</div>
        <div class="collapsible-body">
            <div class="row">
                <div class="input-field col s12">
                    <input id="manage_resourcebase_users" type="text" name="manage_resourcebase" class="user-select">
                </div>
                <div class="input-field col s12">
                    <input id="manage_resourcebase_groups" type="text" name="manage_resourcebase" class="group-select">
                </div>
            </div>
        </div>
    </li>
</ul>
