{% extends "geonode_base.html" %} 
{% load i18n %} 
{% load staticfiles %} 
{% load base_tags %} 

{% block title %} {% trans "Welcome!" %} - {{ block.super }} {% endblock %} 
{% block extra_head %}
    <link href="https://fonts.googleapis.com/css?family=Barlow" rel="stylesheet">
{% endblock %} 
{% block body_class %}home{% endblock %} 

{% block middle %} 
    {{ block.super }} 
    {% block hero %}
    
    {% endblock %} 

    {% block mainbody %} 
        {% block bigsearch %}
        <section>
            <div class="parallax-container">
                <div class="parallax">
                    <!-- <img src="http://asdc.immap.org/static/v2/images/ASDC_FrontPage_Full_Size.jpg"> -->
                    <img src="#" alt="" class="red darken-3">
                </div>
                <div class="big-search">
                    <div class="container">
                        <div class="valign-wrapper hero-container">
                            <div class="center white-text" style="width:100%;">
                                <h1 class="" style="font-family: 'Barlow', sans-serif; font-weight: bold;">Find Your Spatial Data Needs</h1>
                                <h5 class="">Discover Spatial Data Information with iSDC</h5>
                                <div class="row">
                                    <form id="search" action="{% url 'search' %}" class="col s12">
                                        <div class="">
                                            <div class="input-field">
                                                {% if HAYSTACK_SEARCH %}
                                                <input id="search_input" type="text" name="q" placeholder="Search">
                                                {% else %}
                                                <input id="search_input" type="text" name="title__icontains" placeholder="Search">
                                                {% endif %}
                                                <i class="material-icons">search</i>
                                            </div>
                                        </div>
                                    </form>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </section>
        {% endblock %} 

        {% block counter %}
        <section class="count-prop grey lighten-4">
            <div class="container-custom">
                {% with facet_type='home' %}
                {% facets as facets %}
                <div class="row hide">
                    <div class="col s12 m3">
                        <a href="{% url 'layer_browse' %}" class="center counter-panel ">
                            <div class="card-panel circle center cyan white-text hoverable">
                                <i class="material-icons">layers</i>
                                <div class="count">
                                    <span>{{ facets.layer|default:_("0") }}</span>
                                </div>
                                <div class="name">{% trans "Layers" %}</div>
                            </div>
                        </a>
                    </div>
                    <div class="col s12 m3">
                        <a href="{% url 'maps_browse' %}" class="center counter-panel ">
                            <div class="card-panel circle center amber white-text hoverable">
                                <i class="material-icons">map</i>
                                <div class="count">
                                    <span>{{ facets.map|default:_("0") }}</span>
                                </div>
                                <div class="name">{% trans "Interactive Maps" %}</div>
                            </div>
                        </a>
                    </div>
                    <div class="col s12 m3">
                        <a href="{% url 'document_browse' %}" class="center counter-panel ">
                            <div class="card-panel circle center deep-purple white-text hoverable">
                                <i class="material-icons">insert_drive_file</i>
                                <div class="count">
                                    <span>{{ facets.document|default:_("0") }}</span>
                                </div>
                                <div class="name">{% trans "Static Maps" %}</div>
                            </div>
                        </a>
                    </div>
                    <div class="col s12 m3">
                        <a href="{% url 'profile_browse' %}" class="center counter-panel ">
                            <div class="card-panel circle center light-green white-text hoverable">
                                <i class="material-icons">group</i>
                                <div class="count">
                                    <span>{{ facets.user|default:_("0") }}</span>
                                </div>
                                <div class="name">{% blocktrans count counter=facets.user %}User{% plural %}Users{% endblocktrans %}</div>
                            </div>
                        </a>
                    </div>
                </div>
                <div class="row hide">
                    <div class="col s3 center">
                        <div class="count-container">
                            <a href="{% url 'layer_browse' %}">
                                <i class="material-icons cyan hoverable">layers</i>
                                <h3 class="counting">{{ facets.layer|default:_("0") }}</h3>
                                <h5>{% trans "Layers" %}</h5>
                            </a>
                        </div>
                    </div>
                    <div class="col s3 center">
                        <div class="count-container">
                            <a href="{% url 'maps_browse' %}">
                                <i class="material-icons amber hoverable">map</i>
                                <h3 class="counting">{{ facets.map|default:_("0") }}</h3>
                                <h5>{% trans "Interactive Maps" %}</h5>
                            </a>
                        </div>
                    </div>
                    <div class="col s3 center">
                        <div class="count-container">
                            <a href="{% url 'document_browse' %}">
                                <i class="material-icons deep-purple hoverable">insert_drive_file</i>
                                <h3 class="counting">{{ facets.document|default:_("0") }}</h3>
                                <h5>{% trans "Static Maps" %}</h5>
                            </a>
                        </div>
                    </div>
                    <div class="col s3 center">
                        <div class="count-container">
                            <a href="{% url 'profile_browse' %}">
                                <i class="material-icons light-green hoverable">group</i>
                                <h3 class="counting">{{ facets.user|default:_("0") }}</h3>
                                <h5>{% blocktrans count counter=facets.user %}User{% plural %}Users{% endblocktrans %}</h5>
                            </a>
                        </div>
                    </div>
                </div>
                <div class="row hide">
                    <div class="col s12 m5 offset-m1 l3">
                        <a href="{% url 'layer_browse' %}">
                            <div class="card horizontal cyan white-text hoverable">
                                <div class="card-image valign-wrapper">
                                    <i class="material-icons count-ico">layers</i>
                                </div>
                                <div class="card-stacked">
                                    <div class="card-content">
                                        <span class="card-title count-num">{{ facets.layer|default:_("0") }}</span>
                                        <p>{% trans "Layers" %}</p>
                                    </div>
                                </div>
                            </div>
                        </a>
                    </div>
                    <div class="col s12 m5 l3">
                        <a href="{% url 'maps_browse' %}">
                            <div class="card horizontal amber white-text hoverable">
                                <div class="card-image valign-wrapper">
                                    <i class="material-icons count-ico">map</i>
                                </div>
                                <div class="card-stacked">
                                    <div class="card-content">
                                        <span class="card-title count-num">{{ facets.map|default:_("0") }}</span>
                                        <p>{% trans "Interactive Maps" %}</p>
                                    </div>
                                </div>
                            </div>
                        </a>
                    </div>
                    <div class="col s12 m5 offset-m1 l3">
                        <a href="{% url 'document_browse' %}">
                            <div class="card horizontal deep-purple white-text hoverable">
                                <div class="card-image valign-wrapper">
                                    <i class="material-icons count-ico">insert_drive_file</i>
                                </div>
                                <div class="card-stacked">
                                    <div class="card-content">
                                        <span class="card-title count-num">{{ facets.document|default:_("0") }}</span>
                                        <p>{% trans "Static Maps" %}</p>
                                    </div>
                                </div>
                            </div>
                        </a>
                    </div>
                    <div class="col s12 m5 l3">
                        <a href="{% url 'profile_browse' %}">
                            <div class="card horizontal light-green white-text hoverable">
                                <div class="card-image valign-wrapper">
                                    <i class="material-icons count-ico">group</i>
                                </div>
                                <div class="card-stacked">
                                    <div class="card-content">
                                        <span class="card-title count-num">{{ facets.user|default:_("0") }}</span>
                                        <p>{% blocktrans count counter=facets.user %}User{% plural %}Users{% endblocktrans %}</p>
                                    </div>
                                </div>
                            </div>
                        </a>
                    </div>
                </div>
                <div class="row">
                    <div class="col s12 m5 offset-m1 l3">
                        <a href="{% url 'layer_browse' %}">
                            <div class="card horizontal black-text hoverable card-left-highlight">
                                <div class="card-image cyan white-text valign-wrapper" style="padding: 0 20px;">
                                    <i class="material-icons medium">layers</i>
                                </div>
                                <div class="card-stacked">
                                    <div class="card-content right-align">
                                        <span class="card-title count-num">{{ facets.layer|default:_("0") }}</span>
                                        <p>{% trans "Layers" %}</p>
                                    </div>
                                </div>
                            </div>
                        </a>
                    </div>
                    <div class="col s12 m5 l3">
                        <a href="{% url 'maps_browse' %}">
                            <div class="card horizontal black-text hoverable card-left-highlight">
                                <div class="card-image amber white-text valign-wrapper">
                                    <i class="material-icons medium">map</i>
                                </div>
                                <div class="card-stacked">
                                    <div class="card-content right-align">
                                        <span class="card-title count-num">{{ facets.map|default:_("0") }}</span>
                                        <p>{% trans "Interactive Maps" %}</p>
                                    </div>
                                </div>
                            </div>
                        </a>
                    </div>
                    <div class="col s12 m5 offset-m1 l3">
                        <a href="{% url 'document_browse' %}">
                            <div class="card horizontal black-text hoverable card-left-highlight">
                                <div class="card-image deep-purple white-text valign-wrapper">
                                    <i class="material-icons medium">insert_drive_file</i>
                                </div>
                                <div class="card-stacked">
                                    <div class="card-content right-align">
                                        <span class="card-title count-num">{{ facets.document|default:_("0") }}</span>
                                        <p>{% trans "Static Maps" %}</p>
                                    </div>
                                </div>
                            </div>
                        </a>
                    </div>
                    <div class="col s12 m5 l3">
                        <a href="{% url 'profile_browse' %}">
                            <div class="card horizontal black-text hoverable card-left-highlight">
                                <div class="card-image light-green white-text valign-wrapper">
                                    <i class="material-icons medium">group</i>
                                </div>
                                <div class="card-stacked">
                                    <div class="card-content right-align">
                                        <span class="card-title count-num">{{ facets.user|default:_("0") }}</span>
                                        <p>{% blocktrans count counter=facets.user %}User{% plural %}Users{% endblocktrans %}</p>
                                    </div>
                                </div>
                            </div>
                        </a>
                    </div>
                </div>
                {% endwith %}
            </div>
        </section>
        {% endblock counter %}

        {% block forecast %}
        <section class="latest grey darken-4">
            <div class="container">
                <h2 class="center white-text">{% trans "Latest Snapshot" %}</h2>
                <div class="row">
                    <div class="col m6 l4">
                        <div class="card">
                            <div class="card-image waves-effect waves-block waves-light">
                                <a href="./maps/700/view">
                                    <img id="floodSnapshot" src="{{ STATIC_URL }}isdc/img/hex-loader2.gif" class="activator">
                                    <!-- <img class="activator" src="http://asdc.immap.org/getOverviewMaps/getWMS?service=WMS&version=1.1.0&request=GetMap&layers=geonode:glofas_gfms_merge,afg_admbnda_adm1&styles=,snapshot_admin1&VIEWPARAMS=year:2018;month:9;day:17;&bbox=60.4720890240001,29.3771715570001,74.889451148,38.4907374680001&width=768&height=485&srs=EPSG:4326&format=image%2Fpng&_rdm=484"> -->
                                    <!-- <img src="http://asdc.immap.org/getOverviewMaps/getWMS?request=GetLegendGraphic&width=20&height=20&layer=geonode:glofas_gfms_merge&transparent=true&format=image%2Fpng&legend_options=dpi:180;fontAntiAliasing%3Atrue%3BfontSize%3A11%3BfontName%3AArial&SCALE=4367821.451455975" alt="isdc latest flood" class="snapshot-legend"> -->
                                    <img src="../getOverviewMaps/getWMS?request=GetLegendGraphic&width=20&height=20&layer=geonode:glofas_gfms_merge&transparent=true&format=image%2Fpng&legend_options=dpi:180;fontAntiAliasing%3Atrue%3BfontSize%3A11%3BfontName%3AArial&SCALE=4367821.451455975" alt="isdc latest flood" class="snapshot-legend">
                                </a>
                            </div>
                            <div class="card-content">
                                <span class="card-title activator grey-text text-darken-4">
                                    <i class="material-icons right">info</i>
                                    {% trans "Current Flood Prediction" %}
                                </span>
                                <p>
                                    <!-- {% verbatim %}{{ lastupdatedvalues.flood_forecast_last_updated | timeAgo }}{% endverbatim %} -->
                                    updated about one hour ago
                                </p>
                            </div>
                            <div class="card-reveal">
                                <span class="card-title grey-text text-darken-4">{% trans "Current Flood Prediction" %}
                                    <i class="material-icons right">close</i>
                                </span>
                                <p>{% trans 'River flood prediction are valid for 4 days and updated every 6 hours, whereas the flash floods are valid for 6 hours and updated hourly.' %}{% trans 'The map and statistics are updated every 6 hours.' %}</p>
                            </div>
                        </div>
                    </div>
                    <div class="col m6 l4">
                        <div class="card hoverable">
                            <div class="card-image waves-effect waves-block waves-light">
                                <a href="./maps/707/view">
                                    <img id="avaSnapshot" src="{{ STATIC_URL }}isdc/img/hex-loader2.gif" class="activator">
                                    <img src="../getOverviewMaps/getWMS?request=GetLegendGraphic&width=20&height=20&layer=geonode:current_avalanche_forecast_villages&transparent=true&format=image%2Fpng&legend_options=dpi:180;fontAntiAliasing%3Atrue%3BfontSize%3A11%3BfontName%3AArial&SCALE=4367821.451455975" alt="isdc latest avalanches" class="snapshot-legend">
                                    <!-- <img class="activator" src="http://asdc.immap.org/getOverviewMaps/getWMS?service=WMS&version=1.1.0&request=GetMap&layers=geonode:current_avalanche_forecast_villages,afg_admbnda_adm1&styles=,snapshot_admin1&bbox=60.4720890240001,29.3771715570001,74.889451148,38.4907374680001&width=768&height=485&srs=EPSG:4326&format=image%2Fpng&_rdm=484">
                                    <img src="http://asdc.immap.org/getOverviewMaps/getWMS?request=GetLegendGraphic&width=20&height=20&layer=geonode:current_avalanche_forecast_villages&transparent=true&format=image%2Fpng&legend_options=dpi:180;fontAntiAliasing%3Atrue%3BfontSize%3A11%3BfontName%3AArial&SCALE=4367821.451455975" alt="isdc latest avalanches" class="snapshot-legend"> -->
                                </a>
                            </div>
                            <div class="card-content">
                                <span class="card-title activator grey-text text-darken-4">
                                    <i class="material-icons right">info</i>
                                    {% trans "Current Avalanche" %}
                                </span>
                                <p>
                                    <!-- {% verbatim %}{{ lastupdatedvalues.avalanche_forecast_last_updated | timeAgo }}{% endverbatim %} -->
                                    updated about one hour ago
                                </p>
                            </div>
                            <div class="card-reveal">
                                <span class="card-title grey-text text-darken-4">{% trans "Current Avalanche" %}
                                    <i class="material-icons right">close</i>
                                </span>
                                <p>{% trans 'The map and statistics are updated on a daily basis (less than 24 hours).' %}</p>
                            </div>
                        </div>
                    </div>
                    <div class="col m6 offset-m3 l4">
                        <div class="card">
                            <div class="card-image waves-effect waves-block waves-light">
                                <a href="./maps/704/view">
                                    <img id="scSnapshot" src="{{ STATIC_URL }}isdc/img/hex-loader2.gif" class="activator">
                                    <img src="../getOverviewMaps/getWMS?request=GetLegendGraphic&width=20&height=20&layer=geonode:current_snow_depth&transparent=true&format=image%2Fpng&legend_options=dpi:180;fontAntiAliasing%3Atrue%3BfontSize%3A11%3BfontName%3AArial&SCALE=4367821.451455975" alt="isdc latest snow" class="snapshot-legend snow-legend">

                                    <!-- <img class="activator" src="http://asdc.immap.org/getOverviewMaps/getWMS?service=WMS&version=1.1.0&request=GetMap&layers=geonode:current_snow_depth,afg_admbnda_adm1&styles=,snapshot_admin1&bbox=60.4720890240001,29.3771715570001,74.889451148,38.4907374680001&width=768&height=485&srs=EPSG:4326&format=image%2Fpng&_rdm=484">
                                    <img src="http://asdc.immap.org/getOverviewMaps/getWMS?request=GetLegendGraphic&width=20&height=20&layer=geonode:current_snow_depth&transparent=true&format=image%2Fpng&legend_options=dpi:180;fontAntiAliasing%3Atrue%3BfontSize%3A11%3BfontName%3AArial&SCALE=4367821.451455975" alt="isdc latest snow" class="snapshot-legend snow-legend"> -->
                                </a>
                            </div>
                            <div class="card-content">
                                <span class="card-title activator grey-text text-darken-4">
                                    <i class="material-icons right">info</i>
                                    {% trans "Current Snow Cover" %}
                                </span>
                                <p>
                                    <!-- {% verbatim %}{{ lastupdatedvalues.snow_cover_forecast_last_updated | timeAgo }}{% endverbatim %} -->
                                    updated about one hour ago
                                </p>
                            </div>
                            <div class="card-reveal">
                                <span class="card-title grey-text text-darken-4">{% trans "Current Snow Cover" %}
                                    <i class="material-icons right">close</i>
                                </span>
                                <p>{% trans 'The map and statistics are updated 4 times a day.' %}</p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </section>
        {% endblock %} 

        {% block tutorial %}
        <section class="doc red darken-3">
            <div class="container">
                <div class="center">
                    <h2 class="center white-text">{% trans "Check our documentation how iSDC fits your needs" %}</h2>
                    <div class="row center">
                        <div class="col s4 m2 offset-m3">
                            <a href="http://afghanistanflooding.org/">
                                <div class="hoverable transparent white-text z-depth-0 card-hover">
                                    <div class="center"> 
                                        <div class="btn-flat-border circle waves-effect waves-light card-circle-icon-container">
                                            <i class="icon-Flash-flood white-text card-circle-icon"></i><br>
                                        </div>
                                        <span class="">{% trans "Flooding" %}</span>
                                    </div>
                                </div>
                            </a>
                        </div>
                        <div class="col s4 m2">
                            <a href="http://www.afghanistanavalanches.org/">
                                <div class="hoverable transparent white-text z-depth-0 card-hover">
                                    <div class="center"> 
                                        <div class="btn-flat-border circle waves-effect waves-light card-circle-icon-container">
                                            <i class="icon-Snow-avalanche white-text card-circle-icon"></i><br>
                                        </div>
                                        <span class="">{% trans "Avalanches" %}</span>
                                    </div>
                                </div>
                            </a>
                        </div>
                        <div class="col s4 m2">
                            <a href="http://www.afghanistanearthquakes.org/">
                                <div class="hoverable transparent white-text z-depth-0 card-hover">
                                    <div class="center"> 
                                        <div class="btn-flat-border circle waves-effect waves-light card-circle-icon-container">
                                            <i class="icon-Earthquake white-text card-circle-icon"></i><br>
                                        </div>
                                        <span class="">{% trans "Earthquake" %}</span>
                                    </div>
                                </div>
                            </a>
                        </div>
                    </div>
                </div>
            </div>
        </section>
        {% endblock %}
        
        {% block testimony %}
        <section class="testimony">
            <div class="container">
                <h2 class="center">{% trans "Our Users" %}</h2>
                <div class="row carousel">
                    <div class="">
                        <div class="carousel-item col s10 l9 xl6">
                            <div class="card-panel white lighten-5 z-depth-1">
                                <div class="row row-bt-0 carousel-container">
                                    <div class="col s12 m3">
                                        <img src="{{ STATIC_URL }}isdc/img/partner/wfp.png" alt="isdc " class="responsive-img">
                                    </div>
                                    <div class="col s12 m9">
                                        <span class="black-text">{% trans '"I will share the iSDC tool with my people in the field and make them use the tool to get information, and we will definitely be using the tool a lot for proposal writing in our projects at WFP."' %}</span>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="carousel-item col s10 l9 xl6">
                            <div class="card-panel white lighten-5 z-depth-1">
                                <div class="row row-bt-0 carousel-container">
                                    <div class="col s12 m3">
                                        <img src="{{ STATIC_URL }}isdc/img/testimony/savechild.png" alt="isdc " class="responsive-img">
                                    </div>
                                    <div class="col s12 m9">
                                        <span class="black-text">{% trans '"Finding maps and information from a trusted source is very important and now I know ASDC is that source. I use it for many purposes."' %}</span>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="carousel-item col s10 l9 xl6">
                            <div class="card-panel white lighten-5 z-depth-1">
                                <div class="row row-bt-0 carousel-container">
                                    <div class="col s12 m3">
                                        <img src="{{ STATIC_URL }}isdc/img/partner/iom.png" alt="isdc " class="responsive-img">
                                    </div>
                                    <div class="col s12 m9">
                                        <span class="black-text">{% trans '"The ASDC is a great portal for understanding disaster risk, humanitarian access, security incidents and more."' %}</span>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="carousel-item col s10 l9 xl6">
                            <div class="card-panel white lighten-5 z-depth-1">
                                <div class="row row-bt-0 carousel-container">
                                    <div class="col s12 m3">
                                        <img src="{{ STATIC_URL }}isdc/img/testimony/oxfam.png" alt="isdc " class="responsive-img">
                                    </div>
                                    <div class="col s12 m9">
                                        <span class="black-text">{% trans '"As we facilitate big government projects, we are using many different sources and now I understand that your tool is very accurate and we can get accurate data form ASDC."' %}</span>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="carousel-item col s10 l9 xl6">
                            <div class="card-panel white lighten-5 z-depth-1">
                                <div class="row row-bt-0 carousel-container">
                                    <div class="col s12 m3">
                                        <img src="{{ STATIC_URL }}isdc/img/testimony/dmac.png" alt="isdc " class="responsive-img">
                                    </div>
                                    <div class="col s12 m9">
                                        <span class="black-text">{% trans '"ASDC is useful for us, especially for analyzing data. The methodology of the training was very good and, as I am working with GIS it is very efficient for me."' %}</span>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="carousel-item col s10 l9 xl6">
                            <div class="card-panel white lighten-5 z-depth-1">
                                <div class="row row-bt-0 carousel-container">
                                    <div class="col s12 m3">
                                        <img src="{{ STATIC_URL }}isdc/img/testimony/unmas.png" alt="isdc " class="responsive-img">
                                    </div>
                                    <div class="col s12 m9">
                                        <span class="black-text">{% trans '"I am doing maps in our office. When someone wants any map I spend a lot of time doing it, but now I can make any map with exact data with the ASDC in five minutes."' %}</span>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="carousel-item col s10 l9 xl6">
                            <div class="card-panel white lighten-5 z-depth-1">
                                <div class="row row-bt-0 carousel-container">
                                    <div class="col s12 m3">
                                        <img src="{{ STATIC_URL }}isdc/img/partner/andma.png" alt="isdc " class="responsive-img">
                                    </div>
                                    <div class="col s12 m9">
                                        <span class="black-text">{% trans '"iMMAP did a really good job on the ASDC. The ASDC and is a valid data source where we can obtain a lot of interesting data that is useful for our field work."' %}</span>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="carousel-item col s10 l9 xl6">
                            <div class="card-panel white lighten-5 z-depth-1">
                                <div class="row row-bt-0 carousel-container">
                                    <div class="col s12 m3">
                                        <img src="{{ STATIC_URL }}isdc/img/testimony/fews.png" alt="isdc " class="responsive-img">
                                    </div>
                                    <div class="col s12 m9">
                                        <span class="black-text">{% trans '"When people want us to send them information about natural disasters, population and other related data, I know I can find the best data on the ASDC and help them."' %}</span>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="carousel-item col s10 l9 xl6">
                            <div class="card-panel white lighten-5 z-depth-1">
                                <div class="row row-bt-0 carousel-container">
                                    <div class="col s12 m3">
                                        <img src="{{ STATIC_URL }}isdc/img/partner/who.png" alt="isdc " class="responsive-img">
                                    </div>
                                    <div class="col s12 m9">
                                        <span class="black-text">{% trans '"We learned many new things thanks to the training. We value the ASDC since it has a lot of relevant operational data in one single site."' %}</span>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="carousel-item col s10 l9 xl6">
                            <div class="card-panel white lighten-5 z-depth-1">
                                <div class="row row-bt-0 carousel-container">
                                    <div class="col s12 m3">
                                        <img src="{{ STATIC_URL }}isdc/img/testimony/whh.png" alt="isdc " class="responsive-img">
                                    </div>
                                    <div class="col s12 m9">
                                        <span class="black-text">{% trans '"The training was very good and we learned many new things from this sessions, and we request iMMAP for more training, especially for our provincial colleagues."' %}</span>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </section>
        {% endblock %}

        {% block partner %}
        <section class="partner grey lighten-3">
            <div class="container center">
                <h2>Partner</h2>
                <div class="row">
                    <div class="col s3 m2 l1 partner-container">
                        <img class="" src="{{ STATIC_URL }}isdc/img/partner/wmo.png" alt="isdc partner logo" >
                    </div>
                    <div class="col s3 m2 l1 partner-container">
                        <img class="" src="{{ STATIC_URL }}isdc/img/partner/hrc.png" alt="isdc partner logo" >
                    </div>
                    <div class="col s3 m2 l1 partner-container">
                        <img class="" src="{{ STATIC_URL }}isdc/img/partner/noaa.svg" alt="isdc partner logo" >
                    </div>
                    <div class="col s3 m2 l1 partner-container">
                        <img class="" src="{{ STATIC_URL }}isdc/img/partner/nsidc.png" alt="isdc partner logo" >
                    </div>
                    <div class="col s3 m2 l1 partner-container">
                        <img class="" src="{{ STATIC_URL }}isdc/img/partner/usgs.png" alt="isdc partner logo" >
                    </div>
                    <div class="col s3 m2 l1 partner-container">
                        <img class="" src="{{ STATIC_URL }}isdc/img/partner/ornl.png" alt="isdc partner logo" >
                    </div>
                    <div class="col s3 m2 l1 partner-container">
                        <img class="" src="{{ STATIC_URL }}isdc/img/partner/maryland.png" alt="isdc partner logo" >
                    </div>
                    <div class="col s3 m2 l1 partner-container">
                        <img class="" src="{{ STATIC_URL }}isdc/img/partner/nasa.png" alt="isdc partner logo" >
                    </div>
                    <div class="col s3 m2 l1 partner-container">
                        <img class="" src="{{ STATIC_URL }}isdc/img/partner/usaid.png" alt="isdc partner logo" >
                    </div>
                    <div class="col s3 m2 l1 partner-container">
                        <img class="" src="{{ STATIC_URL }}isdc/img/partner/meti.png" alt="isdc partner logo" >
                    </div>
                    <div class="col s3 m2 l1 partner-container">
                        <img class="" src="{{ STATIC_URL }}isdc/img/partner/copernicus.png" alt="isdc partner logo" >
                    </div>
                    <div class="col s3 m2 l1 partner-container">
                        <img class="" src="{{ STATIC_URL }}isdc/img/partner/nci.png" alt="isdc partner logo" >
                    </div>
                    <div class="col s3 m2 l1 partner-container">
                        <img class="" src="{{ STATIC_URL }}isdc/img/partner/wfp.png" alt="isdc partner logo" >
                    </div>
                    <div class="col s3 m2 l1 partner-container">
                        <img class="" src="{{ STATIC_URL }}isdc/img/partner/fao.png" alt="isdc partner logo" >
                    </div>
                    <div class="col s3 m2 l1 partner-container">
                        <img class="" src="{{ STATIC_URL }}isdc/img/partner/who.png" alt="isdc partner logo" >
                    </div>
                    <div class="col s3 m2 l1 partner-container">
                        <img class="" src="{{ STATIC_URL }}isdc/img/partner/ocha.png" alt="isdc partner logo" >
                    </div>
                    <div class="col s3 m2 l1 partner-container">
                        <img class="" src="{{ STATIC_URL }}isdc/img/partner/iom.png" alt="isdc partner logo" >
                    </div>
                    <div class="col s3 m2 l1 partner-container">
                        <img class="" src="{{ STATIC_URL }}isdc/img/partner/moia.png" alt="isdc partner logo" >
                    </div>
                    <div class="col s3 m2 l1 partner-container">
                        <img class="" src="{{ STATIC_URL }}isdc/img/partner/moph.png" alt="isdc partner logo" >
                    </div>
                    <div class="col s3 m2 l1 partner-container">
                        <img class="" src="{{ STATIC_URL }}isdc/img/partner/mrrd.png" alt="isdc partner logo" >
                    </div>
                    <div class="col s3 m2 l1 partner-container">
                        <img class="" src="{{ STATIC_URL }}isdc/img/partner/agcho.png" alt="isdc partner logo" >
                    </div>
                    <div class="col s3 m2 l1 partner-container">
                        <img class="" src="{{ STATIC_URL }}isdc/img/partner/cso.png" alt="isdc partner logo" >
                    </div>
                    <div class="col s3 m2 l1 partner-container">
                        <img class="" src="{{ STATIC_URL }}isdc/img/partner/andma.png" alt="isdc partner logo" >
                    </div>
                    <div class="col s3 m2 l1 partner-container">
                        <img class="" src="{{ STATIC_URL }}isdc/img/partner/dacaar.png" alt="isdc partner logo" >
                    </div>
                    <div class="col s3 m2 l1 partner-container">
                        <img class="" src="{{ STATIC_URL }}isdc/img/partner/osm.png" alt="isdc partner logo" >
                    </div>
                    <div class="col s3 m2 l1 partner-container">
                        <img class="" src="{{ STATIC_URL }}isdc/img/partner/chelsa.png" alt="isdc partner logo" >
                    </div>
                    <div class="col s3 m2 l1 partner-container">
                        <img class="" src="{{ STATIC_URL }}isdc/img/partner/ventusky.png" alt="isdc partner logo" >
                    </div>
                    <div class="col s3 m2 l1 partner-container">
                        <img class="" src="{{ STATIC_URL }}isdc/img/partner/ecmwf.png" alt="isdc partner logo" >
                    </div>
                    <div class="col s3 m2 l1 partner-container">
                        <img class="" src="{{ STATIC_URL }}isdc/img/partner/noaa_star.png" alt="isdc partner logo">
                    </div>
                    <div class="col s3 m2 l1 partner-container">
                        <img class="" src="{{ STATIC_URL }}isdc/img/partner/calu.png" alt="isdc partner logo">
                    </div>
                    <div class="col s3 m2 l1 partner-container">
                        <img class="" src="{{ STATIC_URL }}isdc/img/partner/northeastern.png" alt="isdc partner logo">
                    </div>
                </div>
            </div>
        </section>
        {% endblock partner %} 
        
    {% endblock %} 
{% endblock %} 
    
{% block extra_script %} 
    {{ block.super }} 
    {% if DEBUG_STATIC %}
        <script src="{{ STATIC_URL }}lib/js/angular.js"></script>
    {% endif %}
    <script src="{{ STATIC_URL }}isdc/js/timeAgo.js"></script>
	<script type="text/javascript">
		FEATURED_URL = '{% url 'api_dispatch_list' api_name='api' resource_name='featured' %}';
		LATESTDOCS_URL = '{% url 'api_dispatch_list' api_name='api' resource_name='lastestdocument' %}?category__identifier__in=agr-01,agr-02,agr-03,av-01,av-02,bnd-01,bnd-02,bnd-03,bnd-04,bnd-int,dr-01,dr-02,edu-01,edu-02,eq-01,erm-01,erm-02,erm-03,erm-04,erm-05,erm-06,erm-07,erm-08,geo-01,geo-02,geo-03,geo-04,geo-05,geo-06,geo-07,geo-08,geo-09,geo-10,hlt-01,hlt-02,hlt-03,hlt-04,hydro-01,hydro-02,hydro-03,hydro-04,hz-01,hz-03,idp-01,idp-02,idp-03,idp-04,img-01,img-02,infr-01,infr-02,infr-03,infr-04,infr-05,infr-06,met-01,met-02,met-03,met-04,met-05,met-06,ot-01,ot-02,ppl-01,ppl-02,ppl-03,sec-01,sec-02,sos-01,sos-02,sos-03,sos-04&limit=6&offset=0&order_by=-date';
		LATESTFLOOD_URL = '{% url 'api_dispatch_list' api_name='api' resource_name='documents' %}?category__identifier__in=fl-01,fl-02,fl-03&limit=6&offset=0&order_by=-date';
		LAST_UPDATED_URL = '{% url 'api_dispatch_list' api_name='geoapi' resource_name='lastUpdated' %}';
		'use strict';
		(function(){
			var module = angular.module('featured', ['yaru22.angular-timeago']);
			module.run(function($http, $rootScope){
				$http.get(FEATURED_URL).success(function(data){
					$rootScope.featured = data;
				});
				$http.get(LATESTDOCS_URL).success(function(data){
					$rootScope.latestdocs = data;
				});
				$http.get(LATESTFLOOD_URL).success(function(data){
					$rootScope.latestflood = data;
				});
				$http.get(LAST_UPDATED_URL).success(function(data){
					$rootScope.lastupdatedvalues = data;
				});
			});
			var random = Math.floor((Math.random() * 1000) + 1);
			var today = new Date();
			var dd = today.getDate();
			var mm = today.getMonth()+1;
			var yyyy = today.getFullYear();

			$( "#floodSnapshot" ).attr("src", '../getOverviewMaps/getWMS?service=WMS&version=1.1.0&request=GetMap&layers=geonode:glofas_gfms_merge,afg_admbnda_adm1&styles=,snapshot_admin1&VIEWPARAMS=year:'+yyyy+';month:'+mm+';day:'+dd+';&bbox=60.4720890240001,29.3771715570001,74.889451148,38.4907374680001&width=768&height=485&srs=EPSG:4326&format=image%2Fpng&_rdm='+random);
			$( "#avaSnapshot" ).attr("src", '../getOverviewMaps/getWMS?service=WMS&version=1.1.0&request=GetMap&layers=geonode:current_avalanche_forecast_villages,afg_admbnda_adm1&styles=,snapshot_admin1&bbox=60.4720890240001,29.3771715570001,74.889451148,38.4907374680001&width=768&height=485&srs=EPSG:4326&format=image%2Fpng&_rdm='+random);
			$( "#scSnapshot" ).attr("src", '../getOverviewMaps/getWMS?service=WMS&version=1.1.0&request=GetMap&layers=geonode:current_snow_depth,afg_admbnda_adm1&styles=,snapshot_admin1&bbox=60.4720890240001,29.3771715570001,74.889451148,38.4907374680001&width=768&height=485&srs=EPSG:4326&format=image%2Fpng&_rdm='+random);

		})();

	</script>
    <!-- <script type="text/javascript">
        FEATURED_URL = "{% url 'api_dispatch_list' api_name='api' resource_name='featured' %}"
        'use strict';
        (function () {
            var module = angular.module('featured', []);
            module.run(function ($http, $rootScope) {
                $http.get(FEATURED_URL).success(function (data) {
                    $rootScope.featured = data.objects;
                });
            });
        })();
    </script> -->
    <!-- <script>
        $('[data-toggle="tooltip"]').tooltip();
    </script> -->
{% endblock extra_script %}
