{% extends "geonode_base.html" %}
{% load i18n %}
{% load bootstrap_tags %}
{% load base_tags %}
{% load guardian_tags %}
{% load floppyforms %}

{% block head %}
    {% load static %}
    <script src="{{ STATIC_URL }}lib/js/jquery.js?v={{ VERSION }}"></script>
    <script src="{{ STATIC_URL }}lib/js/moment-with-locales.min.js?v={{ VERSION }}"></script>
    <script src="{{ STATIC_URL }}lib/js/bootstrap-datetimepicker.min.js?v={{ VERSION }}"></script>
    <link rel="stylesheet" href="{{ STATIC_URL }}lib/css/bootstrap-datetimepicker.min.css?v={{ VERSION }}" />

    <style>
        .xxs-font-size{
            font-size: 10px;
        }
        textarea{
            width:100%;
        }
        select{
            width:100%;
        }
        .test-class{
            background-color: red;
        }
        table{
            table-layout:fixed;
            width: 100%;
        }
        td > input{
            width: 100%;
        }
        h2.page-title {
          max-width: calc(100% - 300px);
        }
        .input-empty{
            border-color: red;
            border-style: double;
        }

        input[type="text"] {
            width: 100%;
            left: 0;
            right: 0;
        }
        .fancy-checkbox input[type="radio"],
        .fancy-checkbox input[type="checkbox"],
        .fancy-checkbox .checked {
            display: none;
        }

        .fancy-checkbox input[type="radio"]:checked ~ .checked,
        .fancy-checkbox input[type="checkbox"]:checked ~ .checked {
            display: inline-block;
            color:red;
        }

        .fancy-checkbox input[type="radio"]:checked ~ .unchecked,
        .fancy-checkbox input[type="checkbox"]:checked ~ .unchecked {
            display: none;
        }

        .tokenfield,
        #id_resource-title {
            width: 100% !important;
        }
        #edit-metadata .tab-pane > .panel-group >.panel.panel-default, #settings .panel-group > .panel.panel-default {
          border: none;
        }
        #mdeditor_form > div.tab-content > .tab-pane {
          min-height: 450px;
        }
        #metadata_update {
          min-height: 550px;
        }

        .leaflet-container { /* all maps */
            height: 250px !important;
        }

        .map-overlay {
            display: none !important;
        }

        #regions_multiselect_container.content {
            position: absolute;
        }
        .fstControls {
            width: 100% !important;
        }

        .fstElement {
            font-size: 0.8em !important;
        }

        .fstResultItem {
            font-size: 1.2em !important;
        }

        .has-error .fstElement {
          border-color: red;
        }
        .treeview {
          max-height: 200px;
          overflow: auto;
          display: block;
          width: 350px;
        }
        .form-actions {
          text-align: right;
        }
    </style>
    {{ block.super }}
{% endblock head %}

{% block title %} {{ block.super }} {% endblock %}

{% block body_class %}data{% endblock body_class %}

{% block middle %} 
    <nav class="red darken-3 breadcrumb-universal">
        <div class="nav-wrapper">
            <div class="col s12">
                {% block layer_breadcrumb %} 
                {% endblock layer_breadcrumb %}
            </div>
        </div>
    </nav>
    {{ block.super }}
{% endblock middle %}

{% block body_outer %}

    <div id="preview_errorDialog" class="modal modal-metadata">
        <div class="modal-content">
            <h4>Error</h4>
            <p>Error...</p>
        </div>
        <div class="modal-footer">
            <a href="#!" class="modal-close waves-effect waves-light btn-flat">Close</a>
        </div>
    </div>

    <div id="preview_pleaseWaitDialog" class="modal modal-metadata">
        <div class="modal-content">
            <h4>Processing...</h4>
            <div class="progress">
                <div class="indeterminate"></div>
            </div>
            <p>Updating Metadata...</p>
        </div>
    </div>

    <div id="category_mandatoryDialog" class="modal modal-metadata">
        <div class="modal-content">
            <h4>Error</h4>
            <p>Topic Category is mandatory and cannot be empty!</p>
        </div>
        <div class="modal-footer">
            <a href="#!" class="modal-close waves-effect waves-light btn-flat">Close</a>
        </div>
    </div>

    <div id="group_mandatoryDialog" class="modal modal-metadata">
        <div class="modal-content">
            <h4>Error</h4>
            <p>Group is mandatory and cannot be empty!</p>
        </div>
        <div class="modal-footer">
            <a href="#!" class="modal-close waves-effect waves-light btn-flat">Close</a>
        </div>
    </div>

    {% block body %}{% endblock body %}
    {% block sidebar %}{% endblock sidebar %}
{% endblock body_outer %}

{% block extra_script %}
    {{ block.super }}
    {% include 'metadata_form_js.html' %}

    {% if GEONODE_SECURITY_ENABLED %}
        {% include "_permissions_form_js.html" %}
    {% endif %}

    <script type="text/javascript">
        $('#set_thumbnail').click(function(){
            createMapThumbnail();
        });

        $('.modal-metadata').modal({
            dismissible: false
        });
    </script>

    <!-- <script type="text/javascript">
        $(document).ready(function() {
            $('#id_resource-regions').multiselect({
                enableClickableOptGroups: true,
                enableCollapsibleOptGroups: true,
                enableFiltering: true,
                includeSelectAllOption: true
            });
        });
    </script> -->

    <!-- <script type="text/javascript">
        $(document).ready(function() {
            $('#id_resource-regions').treeMultiselect({
                startCollapsed: true
            });
        });
    </script> -->

    <!-- Doc & Examples: http://dbrekalo.github.io/fastselect/ -->
    <script type="text/javascript">
        $(document).ready(function() {
            $('#id_resource-regions').fastselect({
            });
        });
    </script>

{% endblock extra_script %}
