{% extends "geonode_base.html" %}
{% load i18n %}

{% block title %}{{ resource.title }} — {{ block.super }}{% endblock %}

{% block body_class %}data grey lighten-4{% endblock %}

{% block middle %} 
    <nav class="red darken-3 breadcrumb-universal">
        <div class="nav-wrapper">
            <div class="col s12">
                {% if resource.class_name == "Document" %}
                    <a href="{% url 'document_browse' %}?limit={{ CLIENT_RESULTS_LIMIT }}" class="breadcrumb">{% trans "Static Maps" %}</a>
                    <a href="{% url 'document_detail' docid=resource.id %}" class="breadcrumb">{{ resource.title }}</a>
                {% elif resource.class_name == "Layer" %}
                    <a href="{% url 'layer_browse' %}?limit={{ CLIENT_RESULTS_LIMIT }}" class="breadcrumb">{% trans "Layers" %}</a>
                    <a href="{% url 'layer_detail' layername=resource.alternate %}" class="breadcrumb">{{ resource.title }}</a>
                {% else %}
                    <a href="{% url 'maps_browse' %}?limit={{ CLIENT_RESULTS_LIMIT }}" class="breadcrumb">{% trans "Interactive Maps" %}</a>
                    <a href="{% url 'map_detail' mapid=resource.id %}" class="breadcrumb">{{ resource.title }}</a>
                {% endif %}
                <a href="" class="breadcrumb">{% trans "Metadata" %}</a>
            </div>
        </div>
    </nav>
    {{ block.super }}
{% endblock %}

{% block body_outer %}
    <section style="min-height: 64vh;">
        <div class="row">
            <div class="col s12">
                <div class="card">
                    <div class="card-content">
                        <div>
                            {% if resource.class_name == "Document" %}
                                <a href="{% url 'document_detail' docid=resource.id %}" class="btn-flat waves-effect waves-light red-text text-darken-3 btn-flat-border right">{% trans "Return to Document" %}</a>
                            {% elif resource.class_name == "Layer" %}
                                <a href="{% url 'layer_detail' layername=resource.alternate %}" class="btn-flat waves-effect waves-light red-text text-darken-3 btn-flat-border right">{% trans "Return to Layer" %}</a>
                            {% else %}
                                <a href="{% url 'map_detail' mapid=resource.id %}" class="btn-flat waves-effect waves-light red-text text-darken-3 btn-flat-border right">{% trans "Return to Map" %}</a>
                            {% endif %}
                            <span class="card-title">{% trans "Metadata" %} : {{ resource.title }}</span>
                        </div>
                        <div>
                            <table>
                                <tr class="grey white-text">
                                    <th colspan="2">{% trans "Identification" %}</th>
                                </tr>
                                <tr>
                                    {% if resource.title %}
                                        <th>{% trans "Title" %}</th>
                                        <td>{{ resource.title|truncatechars:80 }}</td>
                                    {% endif %}
                                </tr>
                                <tr>
                                    {% if resource.abstract %}
                                        <th>{% trans "Abstract" %}</th>
                                        <td>{{ resource.abstract|escape|urlize|linebreaks|safe|truncatechars:1000 }}</td>
                                    {% endif %}
                                </tr>
                                {% if LICENSES_ENABLED and LICENSES_DETAIL == 'above' and resource.license %}
                                    <tr>
                                        <th>{% trans "License" %}</th>
                                        <td>
                                            {{ resource.license.name_long }} 
                                            <a href="#license-more-above" data-toggle="collapse" data-target=".license-more-above">
                                                <i class="fa fa-info-circle"></i>
                                            </a>
                                        </td>
                                        <div class="license-more-above collapse">
                                            {% for bullet in resource.license.description_bullets %}
                                                {{ bullet }}<br/><br/>
                                            {% endfor %}
                                            {% if resource.license.url %}
                                                + For more info see <a href="{{ resource.license.url }}">{{ resource.license.url }}</a>.
                                            {% endif %}
                                        </div>
                                    </tr>
                                {% endif %}

                                {% if resource.date %}
                                    <tr>
                                        <th>{% trans resource.date_type|title %} {% trans "Date" %}</th>
                                        <td>{{ resource.date }}</td>
                                    </tr>
                                {% endif %}

                                {% if resource.display_type %}
                                    <tr>
                                        <th>{% trans "Type" %}</th>
                                        <td>{{ resource.display_type }}</td>
                                    </tr>
                                {% endif %}

                                {% if resource.keyword_list %}
                                    <tr>
                                        <th>{% trans "Keywords" %}</th>
                                        <td>
                                            {% for keyword in resource.keyword_list %}
                                                {{ keyword }}
                                            {% endfor %}
                                        </td>
                                    </tr>
                                {% endif %}

                                {% if resource.category %}
                                    <tr>
                                        <th>{% trans "Category" %}</th>
                                        <td>
                                            <a href="/search/?category__identifier__in={{ resource.category.identifier }}">{{ resource.category }}</a> 
                                            {% if resource.category.description %}
                                                <a href="#category-more" data-toggle="collapse" data-target=".category-more">
                                                    <i class="fa fa-info-circle"></i>
                                                </a>
                                            {% endif %}
                                        </td>
                                        {% if resource.category.description %}
                                            <td class="category-more collapse">
                                                {{ resource.category.description }}
                                            </td>
                                        {% endif %}
                                    </tr>
                                {% endif %}

                                {% if resource.regions.all %}
                                    <tr>
                                        <th>{% trans "Regions" %}</th>
                                        <td>{{ resource.regions.all|join:", " }}</td>
                                    </tr>
                                {% endif %}

                                <tr>
                                    <th>{% trans "Approved" %}</th>
                                    <td>{% if resource.is_approved %} {% trans "Yes" %} {% else %} {% trans "No" %} {% endif %}</td>
                                </tr>

                                <tr>
                                    <th>{% trans "Published" %}</th>
                                    <td>{% if resource.is_published %} {% trans "Yes" %} {% else %} {% trans "No" %} {% endif %}</td>
                                </tr>

                                <tr>
                                    <th>{% trans "Featured" %}</th>
                                    <td>{% if resource.featured %} {% trans "Yes" %} {% else %} {% trans "No" %} {% endif %}</td>
                                </tr>

                                {% if resource.group %}
                                    <tr>
                                        <th>{% trans "Group" %}</th>
                                        <td><a href="/groups/group/{{ resource.group.name }}/activity/">{{ group }}</a></td>
                                    </tr>
                                {% endif %}

                                <tr class="grey white-text">
                                    <th colspan="2">{% trans "Owner" %}</th>
                                </tr>
                                {% if resource.owner %}
                                    {% with resource.owner as poc %}
                                        <tr>
                                            <th>{% trans "Name" %}</th>
                                            <td>{{ poc.name_long }}</td>
                                        </tr>
                                        <tr>
                                            <th>{% trans "email" %}</th>
                                            <td>{{ poc.email }}</td>
                                        </tr>
                                        <tr>
                                            <th>{% trans "Position" %}</th>
                                            <td>{{ poc.position }}</td>
                                        </tr>
                                        <tr>
                                            <th>{% trans "Organization" %}</th>
                                            <td>{{ poc.organization }}</td>
                                        </tr>
                                        <tr>
                                            <th>{% trans "Location" %}</th>
                                            <td>{{ poc.location }}</td>
                                        </tr>
                                        <tr>
                                            <th>{% trans "Voice" %}</th>
                                            <td>{{ poc.voice }}</td>
                                        </tr>
                                        <tr>
                                            <th>{% trans "Fax" %}</th>
                                            <td>{{ poc.fax }}</td>
                                        </tr>
                                        {% if poc.keyword_list %}
                                            <tr>
                                                <th>{% trans "Keywords" %}</th>
                                                <td>{% for keyword in poc.keyword_list %}
                                                    {{ keyword }}
                                                    {% endfor %}</td>
                                            </tr>
                                        {% endif %}
                                    {% endwith %}
                                {% endif %}
                                
                                <tr class="grey white-text">
                                    <th colspan="2">{% trans "Information" %}</th>
                                </tr>
                                <tr>
                                    <th>{% trans "Identification Image" %}</th>
                                    <td>
                                        <a href="{{ resource.get_thumbnail_url }}"><img ng-src="{{ resource.get_thumbnail_url }}" src="{{ resource.get_thumbnail_url }}"></a>
                                    </td>
                                </tr>
                                <tr>
                                    <th>{% trans "Spatial Extent" %}</th>
                                    <td>{% if resource.scale %} {{ resource.scale }} {% else %} --- {% endif %}</td>
                                </tr>
                                <tr>
                                    <th>{% trans "Projection System" %}</th>
                                    <td>{{ resource.srid }}</td>
                                </tr>
                                <tr>
                                    <th>{% trans "Extension x0" %}</th>
                                    <td>{{resource.bbox_x0}}</td>
                                </tr>
                                <tr>
                                    <th>{% trans "Extension x1" %}</th>
                                    <td>{{resource.bbox_x1}}</td>
                                </tr>
                                <tr>
                                    <th>{% trans "Extension y0" %}</th>
                                    <td>{{resource.bbox_y0}}</td>
                                </tr>
                                <tr>
                                    <th>{% trans "Extension y1" %}</th>
                                    <td>{{resource.bbox_y1}}</td>
                                </tr>

                                <tr class="grey white-text">
                                    <th colspan="2">{% trans "Features" %}</th>
                                </tr>
                                {% if LICENSES_ENABLED and LICENSES_DETAIL == 'below' and resource.license %}
                                    <tr>
                                        <th>{% trans "License" %}</th>
                                        <td>
                                            {{ resource.license.name_long }}
                                            <a href="#license-more-below" data-toggle="collapse" data-target=".license-more-below">
                                                <i class="fa fa-info-circle"></i>
                                            </a>
                                        </td>
                                        <td class="license-more-below collapse">
                                            {% for bullet in resource.license.description_bullets %}
                                                {{ bullet }}<br/><br/>
                                            {% endfor %}
                                            {% if resource.license.url %}
                                                + For more info see <a href="{{ resource.license.url }}">{{ resource.license.url }}</a>.
                                            {% endif %}
                                        </td>
                                    </tr>
                                {% endif %}

                                {% if resource.maintenance_frequency %}
                                    <tr>
                                        <th>{% trans "Maintenance Frequency" %}</th>
                                        <td>{{ resource.maintenance_frequency_title }}</td>
                                    </tr>
                                {% endif %}
                                {% if resource.restriction_code_type or resource.constraints_other %}
                                    <tr>
                                        <th>{% trans "Restrictions" %}</th>
                                        <td>
                                            {% if resource.constraints_other %}
                                                {{ resource.constraints_other }}
                                            {% else %}
                                                {{ resource.restriction_code_type }}
                                            {% endif %}
                                        </td>
                                    </tr>
                                {% endif %}
                                {% if resource.edition %}
                                    <tr>
                                        <th>{% trans "Edition" %}</th>
                                        <td>{{ resource.edition}}</td>
                                    </tr>
                                {% endif %}
                                {% if resource.purpose %}
                                    <tr>
                                        <th>{% trans "Purpose" %}</th>
                                        <td>{{ resource.purpose|escape|urlize|linebreaks|safe|truncatechars:160 }}</td>
                                    </tr>
                                {% endif %}
                                {% if resource.language %}
                                    <tr>
                                        <th>{% trans "Language" %}</th>
                                        <td>{{ resource.language_title }}</td>
                                    </tr>
                                {% endif %}
                                {% if resource.temporal_extent_start and resource.temporal_extent_end %}
                                    <tr>
                                        <th>{% trans "Temporal Extent" %}</th>
                                        <td>{{ resource.temporal_extent_start }} - {{ resource.temporal_extent_end }}</td>
                                    </tr>
                                {% endif %}
                                {% if resource.data_quality_statement %}
                                    <tr>
                                        <th>{% trans "Data Quality" %}</th>
                                        <td>{{ resource.data_quality_statement }}</td>
                                    </tr>
                                {% endif %}
                                {% if resource.supplemental_information %}
                                    <tr>
                                        <th>{% trans "Supplemental Information" %}</th>
                                        <td>{{ resource.supplemental_information|truncatechars:160|escape|urlize|linebreaks|safe }}</td>
                                    </tr>
                                {% endif %}
                                {% if resource.spatial_representation_type %}
                                    <tr>
                                        <th>{% trans "Spatial Representation Type" %}</th>
                                        <td>{{ resource.spatial_representation_type }}</td>
                                    </tr>
                                {% endif %}

                                {% if resource.poc %}
                                    <tr class="grey white-text">
                                        <th colspan="2">{% trans "Contact Points" %}</th>
                                    </tr>
                                    <tr>
                                        <th>{% trans "Name" %}</th>
                                        <td>{{ resource.poc.name_long }}</td>
                                    </tr>
                                    <tr>
                                        <th>{% trans "email" %}</th>
                                        <td>{{ resource.poc.email }}</td>
                                    </tr>
                                    <tr>
                                        <th>{% trans "Position" %}</th>
                                        <td>{{ resource.poc.position }}</td>
                                    </tr>
                                    <tr>
                                        <th>{% trans "Organization" %}</th>
                                        <td>{{ resource.poc.organization }}</td>
                                    </tr>
                                    <tr>
                                        <th>{% trans "Location" %}</th>
                                        <td>{{ resource.poc.location }}</td>
                                    </tr>
                                    <tr>
                                        <th>{% trans "Voice" %}</th>
                                        <td>{{ resource.poc.voice }}</td>
                                    </tr>
                                    <tr>
                                        <th>{% trans "Fax" %}</th>
                                        <td>{{ resource.poc.fax }}</td>
                                    </tr>
                                    {% if poc.keyword_list %}
                                        <tr>
                                            <th>{% trans "Keywords" %}</th>
                                            <td>
                                                {% for keyword in resource.poc.keyword_list %}
                                                    {{ keyword }}
                                                {% endfor %}
                                            </td>
                                        </tr>
                                    {% endif %}
                                {% endif %}

                                <tr class="grey white-text">
                                    <th colspan="2">{% trans "References" %}</th>
                                </tr>
                                <tr>
                                    <th>{% trans "Link Online" %}</th>
                                    <td><a href="{{ resource.get_absolute_url }}">{{ resource.get_absolute_url }}</a></td>
                                </tr>
                                <tr>
                                    <th>{% trans "Metadata Page" %}</th>
                                    <td><a href="{{ resource.get_absolute_url }}/metadata_detail">{{ resource.get_absolute_url }}/metadata_detail</a></td>
                                </tr>
                                {% if resource.doc_file %}
                                    <tr>
                                        <th>{% trans "Online Link" %}</th>
                                        <td><a href="{{ resource.get_absolute_url }}/download">{{ resource.get_absolute_url }}/download</a></td>
                                    </tr>
                                {% endif %}
                                {% for link in resource.link_set.download %}
                                    <tr>
                                        <th>{{link.name}}</th>
                                        <td><a href="{{link.url}}">{{resource.title}}.{{link.extension}}</a></td>
                                    </tr>
                                {% endfor %}
                                {% for link in resource.link_set.ows %}
                                    <tr>
                                        <th>{{link.name}}</th>
                                        <td><a href="{{link.url}}">Geoservice {{link.link_type}}</a></td>
                                    </tr>
                                {% endfor %}

                                {% if resource.metadata_author %}
                                <tr class="grey white-text">
                                    <th colspan="2">{% trans "Metadata Author" %}</th>
                                </tr>
                                    {% with resource.metadata_author as poc %}
                                        <tr>
                                            <th>{% trans "Name" %}</th>
                                            <td>{{ poc.name_long }}</td>
                                        </tr>
                                        <tr>
                                            <th>{% trans "email" %}</th>
                                            <td>{{ poc.email }}</td>
                                        </tr>
                                        <tr>
                                            <th>{% trans "Position" %}</th>
                                            <td>{{ poc.position }}</td>
                                        </tr>
                                        <tr>
                                            <th>{% trans "Organization" %}</th>
                                            <td>{{ poc.organization }}</td>
                                        </tr>
                                        <tr>
                                            <th>{% trans "Location" %}</th>
                                            <td>{{ poc.location }}</td>
                                        </tr>
                                        <tr>
                                            <th>{% trans "Voice" %}</th>
                                            <td>{{ poc.voice }}</td>
                                        </tr>
                                        <tr>
                                            <th>{% trans "Fax" %}</th>
                                            <td>{{ poc.fax }}</td>
                                        </tr>
                                        {% if poc.keyword_list %}
                                            <tr>
                                                <th>{% trans "Keywords" %}</th>
                                                <td>
                                                    {% for keyword in poc.keyword_list %}
                                                        {{ keyword }}
                                                    {% endfor %}
                                                </td>
                                            </tr>
                                        {% endif %}
                                    {% endwith %}
                                {% endif %}
                            </table>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
{% endblock %}