{% extends "metadata_base.html" %}
{% load i18n %}
{% load base_tags %}
{% load guardian_tags %}
{% load floppyforms %}

{% block title %}{{ layer.alternate }} — {{ block.super }}{% endblock title %}

{% block head %}
    {% include "ol/layers/layer_ol2_map.html" %}
    {{ block.super }}
{% endblock head %}

{% block body_class %}data grey lighten-4 {% endblock body_class %}

{% block metadata_breadcrumb %} 
    <a href="{% url 'layer_browse' %}?limit={{ CLIENT_RESULTS_LIMIT }}" class="breadcrumb">{% trans "Layers" %}</a>
    <a href="{% url 'layer_detail' layername=resource.alternate %}" class="breadcrumb">{{ layer.title }}</a>
    <a href="{% url "layer_metadata" layer.service_typename %}" class="breadcrumb">{% trans "Edit Metadata" %}</a>
{% endblock metadata_breadcrumb %}

{% block body_outer %}
    {{ block.super }}
    <section style="min-height: 64vh;">
        <div class="row">
            <div class="col s12">
                <div class="card">
                    <div class="card-content">
                        <div class="right">
                            <a class="waves-effect waves-light btn-flat btn-flat-border red-text text-darken-3 modal-trigger" href="#preview">Preview</a>
                            <a class="waves-effect waves-light btn red darken-3 modal-trigger" href="#settings">Settings</a>
                        </div>
                        <span class="card-title">{% trans "Metadata" %}&nbsp;{% blocktrans with layer.title as layer_title %}for {{ layer_title }}{% endblocktrans %}</span>
                        <form id="metadata_update" class="form-horizontal" action="{% url "layer_metadata" layer.service_typename %}" method="POST">
                            {% if layer.metadata_uploaded_preserve %}
                                <div class="card yellow">{% blocktrans %}Note: this layer's orginal metadata was populated and preserved by importing a metadata XML file.
                                  This metadata cannot be edited.{% endblocktrans %}</div>
                            {% elif layer.metadata_uploaded %}
                                <div class="card yellow">{% blocktrans %}Note: this layer's orginal metadata was populated by importing a metadata XML file.
                                  GeoNode's metadata import supports a subset of ISO, FGDC, and Dublin Core metadata elements.
                                  Some of your original metadata may have been lost.{% endblocktrans %}</div>
                            {% endif %}

                            {% if layer_form.errors or attribute_form.errors or category_form.errors or author_form.errors or poc.errors %}
                                <p class="">{% blocktrans %}Error updating metadata.  Please check the following fields: {% endblocktrans %}</p>
                                <div class="card-panel red lighten-3">
                                    <ul class="">
                                        {% if author_form.errors %}
                                            <li>{% trans "Metadata Author" %}</li>
                                            {{ author_form.errors }}
                                        {% endif %}
                                        {% if poc_form.errors %}
                                            <li>{% trans "Point of Contact" %}</li>
                                            {{ poc_form.errors }}
                                        {% endif %}
                                        {% for field in layer_form %}
                                            {% if field.errors %}
                                                <li>{{ field.label }}</li>
                                            {% endif %}
                                        {% endfor %}
                                        {% if not attribute_form.is_valid %}
                                            <li>{% trans "Attributes" %}</li>
                                            {% for field in attribute_form %}
                                                {% if field.errors %}
                                                    <li>{{ field.errors }}</li>
                                                {% endif %}
                                            {% endfor %}
                                        {% endif %}
                                        {% if category_form.errors %}
                                            <li>{{ category_form.errors.as_ul }}</li>
                                        {% endif %}
                                    </ul>
                                </div>
                            {% endif %}

                            {% csrf_token %}
                            <div id="mdeditor_form" class="">
                                {% form layer_form using "layouts/panels.html" %}
                                {# layer_form #}
                            </div>

                            {% if not layer.metadata_uploaded_preserve %}
                                <div class="right-align">
                                    <a href="{% url 'layer_detail' layername=resource.alternate %}" class="btn-flat btn-flat-border red-text text-darken-3 waves-effect waves-light">{% trans "Return to Layer" %}</a>
                                    <button id="btn_upd_md_dwn" class="btn red darken-3 waves-effect waves-light" type="submit">{% trans "Update" %}</button>
                                </div>
                            {% endif %}
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </section>
{% endblock body_outer %}

{% block extra_script %}
    {{ block.super }}
    <script>
        var stepper = document.querySelector('.stepper');
        var stepperInstace = new MStepper(stepper, {
            // options
            firstActive: 0 // this is the default
        })
    </script>
{% endblock extra_script %}