{% extends "upload/layer_upload_metadata_base.html" %}
{% load i18n %}
{% load staticfiles %}
{% load dialogos_tags %}
{% load agon_ratings_tags %}
{% load pagination_tags %}
{% load base_tags %}
{% load guardian_tags %}

{% block title %} {% trans "Upload Layer Metadata"  %} - {{ block.super }}  {% endblock %}

{% block body_class %}layers upload{% endblock %}


{% block head %}
    {{ block.super }}
{% endblock %}

{% block layer_breadcrumb %}
    <a href="{% url 'layer_detail' layername=resource.alternate %}" class="breadcrumb">{{resource.title}}</a>
    <a href="" class="breadcrumb">{% trans "Upload Layer Style" %}</a>
{% endblock layer_breadcrumb %}

{% block body_outer %}
    <section style="min-height: 64vh;">
        <div class="row">
            <div class="col s12">
                <div class="card">
                    <div class="card-content">
                        <div>
                            <!-- <a href="{% url "layer_browse" %}?limit={{ CLIENT_RESULTS_LIMIT }}" class="btn waves-effect waves-light red darken-3 right" style="margin-left: 3px;">{% trans "Explore Layers" %}</a> -->
                            <a href="{% url 'layer_detail' layername=resource.alternate %}" class="btn-flat waves-effect waves-light red-text text-darken-3 btn-flat-border right" style="margin-left: 3px;">{% trans "Return to Layer" %}</a>
                            <h4 class="">{% trans "Upload Layer Style" %}</h4>
                            <span class="new badge grey left" data-badge-caption="{% trans '(SLD - Style Layer Descriptor 1.0, 1.1)' %}" style="margin:0;"></span>
                        </div>
                        <div class="row">
                            <div class="col s12">
                                {% if incomplete %}
                                    <section class="widget" id="incomplete-download-list">
                                        <h4>{% trans "Incomplete Uploads" %}</h4>
                                        <p>{% trans "You have the following incomplete uploads" %}:</p>
                                        {% for u in incomplete %}
                                            <div class="clearfix uip" id="incomplete-{{ u.import_id }}">
                                                <div class="left">{{ u.name }}, {% trans "last updated on" %} {{ u.date }}</div>
                                                <div class="upload_actions right">
                                                    <a class="btn btn-small" href="#" id="resume-{{ u.import_id }}">{% trans "Resume" %}</a>
                                                    <a class="btn btn-small" href="#" id="delete-{{ u.import_id }}"><i class="icon-trash"></i> {% trans "Delete" %}</a>
                                                </div>
                                            </div>
                                        {% endfor %}
                                    </section>
                                    <div id="confirm-delete" class="hidden alert alert-warning card-panel yellow lighten-3 z-depth-0">
                                        {% trans "Are you sure you want to delete this upload?" %}
                                        <a href="#y" class="btn btn-danger">{% trans "Delete" %}</a>
                                        <a href="#n" class="btn btn-default">{% trans "Cancel" %}</a>
                                        <a href="#yy">{% trans "Delete, and don't ask me again." %}</a>
                                    </div>
                                {% endif %}
                    
                                {% block additional_info %}{% endblock %}
                    
                                {% if errors %}
                                    <div id="errors" class="alert alert-danger card-panel red lighten-3 z-depth-0">
                                        {% for error in errors %}
                                            <p>{{ error }}</p>
                                        {% endfor %}
                                    </div>
                                {% endif %}
                    
                                <div id="upload-status"></div>
                            </div>
                            <div class="col s12">
                                <section id="drop-zone" class="grey lighten-4 grey-text text-darken-1">
                                    <div class="center">
                                        <i class="material-icons">cloud_upload</i>
                                        <br>
                                        <span>
                                            {% trans "Drop files to upload or" %}
                                            <form id="file-uploader" method="post" enctype="multipart/form-data">
                                                <!-- UI change to hide the list of previously uploaded files from the user -->
                                                <input type="file" id="file-input" style="display: none;" multiple>
                                                <input class="btn red darken-3" type="button" value="Choose Files" onclick="document.getElementById('file-input').click();">
                                            </form>
                                        </span>
                                    </div>
                                </section>
                            </div>
                            <div class="col s12">
                                <section class="widget">
                                    <ul id="global-errors"></ul>
                                    <p>{% trans "Files to be uploaded" %} :</p>
                                    <div id="file-queue"></div>
                                    <div class="checkbox" style="display:none;" id="style_upload_form_check">
                                        Is Upload Metadata XML Form
                                        <input type="checkbox" name="style_upload_form" id="id_style_upload_form" checked="true"/>
                                        <input type="text" name="layer_title" id="id_layer_title" value="{{ resource.alternate }}"/>
                                    </div>
                                </section>
                                <section>
                                    <a href="#" id="upload-button" class="btn waves-effect waves-light red darken-3">{% trans "Upload files" %}</a>
                                    {% if GEONODE_SECURITY_ENABLED %}
                                        <!-- Modal Trigger -->
                                        <a href="#modal_permission" id="" class="btn-flat btn-flat-border modal-trigger waves-effect waves-light red-text text-darken-3">{% trans "Change Permissions" %}</a>
                                    {% endif %}
                                    {% if GEONODE_SECURITY_ENABLED %}
                                        {% if "change_resourcebase_permissions" in perms_list %}
                                            <a id="modal_perms" class="btn-flat btn-flat-border modal-trigger waves-effect waves-light red-text text-darken-3" href="#_permissions">{% trans "Change Layer Permissions" %}</a>
                                        {% endif %}
                                    {% endif %}
                                    <a href="{% url 'layer_sld_upload' resource.alternate %}" id="clear-button" class="btn-flat waves-effect waves-light">{% trans "Clear" %}</a>
                                </section>

                                <form id="permission_form">
                                    {% include "_permissions02.html" %}
                                </form>
                            </div>
                        </div>
                        {% if GEOSERVER_BASE_URL %}
                            {% get_obj_perms request.user for resource.layer as "layer_perms" %}
                        {% endif %}
                    </div>
                </div>
            </div>
        </div>
    </section>
{% endblock %}

{% block extra_script %}
    {{ block.super }}
    <script data-main="{% static 'geonode/js/upload/main' %}" src="{% static 'lib/js/require.js' %}"></script>
    <script type="text/javascript">
        {% autoescape off %}

            csrf_token =  "{{ csrf_token }}",
            form_target = "{{ LAYER_ANCILLARY_FILES_UPLOAD_URL }}",
            geogig_enabled = {{ GEOGIG_ENABLED|lower  }},
            time_enabled = false,
            mosaic_enabled = false,
            userLookup = "{% url "account_ajax_lookup" %}"

        {% endautoescape %}

    </script>
    {% if GEONODE_SECURITY_ENABLED %}
        {% with resource=layer %}
            {% include "_permissions_form_js.html" %}
        {% endwith %}
    {% endif %}
{% endblock extra_script %}