{% extends "layers/layer_base.html" %}
{% load i18n %}

{% block title %}{{ layer.alternate }} — {{ block.super }}{% endblock %}

{% block body_class %}layers grey lighten-4{% endblock %}

{% block layer_breadcrumb %}
    <a href="{% url 'layer_detail' layername=layer.alternate %}" class="breadcrumb">{{ layer.title }}</a>
    <a href="" class="breadcrumb">{% trans "Manage Styles" %}</a>
{% endblock layer_breadcrumb %}

{% block body_outer %}
    <section style="min-height: 64vh;">
        <div class="row">
            <div class="col s12">
                <div class="card">
                    <div class="card-content">
                        <div>
                            <span class="card-title">
                                {% blocktrans with layer.alternate as layer_title %}
                                    Manage Available Styles for <a href="/layers/{{ layer_title }}">{{ layer_title }}</a>
                                {% endblocktrans %}
                            </span>
                        </div>
                        <form action="{% url "layer_style_manage" layer.service_typename %}" method="POST">
                            <div class="row">
                                <div class="input-field col l4">
                                    <select id='default_style' name='default_style' required='required'>
                                        {% for style in layer_styles %}
                                            {% if style == layer.default_style %}
                                                <option value="{{ style.0 }}" selected>{{ style.1 }}</option>
                                            {% else %}
                                                <option value="{{ style.0 }}">{{ style.1 }}</option>
                                            {% endif %}
                                        {% endfor %}
                                    </select>
                                    <label>{% trans "Layer Default Style" %}</label>
                                </div>
                                <div class="col s12">
                                    <h4>{% trans "Available styles" %}</h4>
                                    <p>{% trans "Click on the available style in the upper/left box to assign it to this layer. Selected styles appear in the lower/right box." %}</p>
                                </div>
                                <div class="">
                                    <select multiple="multiple" id="style-select" name="style-select" class="browser-default">
                                        {% for style in gs_styles %}
                                            {% if style in layer_styles %}
                                                <option value='{{ style.0 }}' selected>{{ style.1 }}</option>
                                            {% else %}
                                                <option value='{{ style.0 }}'>{{ style.1 }}</option>
                                            {% endif %}
                                        {% endfor %}
                                    </select>
                                    {% csrf_token %}
                                    <input type="hidden" value="{{ layer.service_typename }}" />
                                </div>
                                <div class="col s12">
                                    <button class="btn waves-effect waves-light red darken-3 right" type="submit">{% trans "Update Styles" %}</button>
                                </div>
                            </div>
                        </form>
                        
                    </div>
                </div>
            </div>
        </div>
    </section>
{% endblock %}

{% block extra_script %}
    {{ block.super }}
    <script type="text/javascript">
        $(function () {
            $('#style-select').multiSelect({
                afterSelect: function(values){
                    $('#default_style').append($("<option/>", {
                        value: values[0],
                        text: values[0]
                    }));
                },
                afterDeselect: function(values){
                    $('#default_style option').each(function() {
                        if ( $(this).val() == values[0] ) {
                            $(this).remove();
                        }
                    });
                }
            });
        });
    </script>
    <script type="text/javascript">
        $(document).ready(function(){
            $(".ms-selectable").addClass("col s12 m6 l6 xl4");
            $(".ms-selection").addClass("col s12 m6 l6 xl4");
        });
    </script>
{% endblock %}