{% if is_paginated %}
    {% load i18n %}
    <ul class="pagination">
        {% block previouslink %}
            {% if page_obj.has_previous %}
                {% if disable_link_for_first_page and page_obj.previous_page_number == 1 %}
                    <li class="waves-effect"><a href="{{ request.path }}{% if getvars %}?{{ getvars|slice:'1:' }}{% endif %}"><i class="material-icons">chevron_left</i></a></li>
                {% else %}
                    <li class="waves-effect"><a href="?page{{ page_suffix }}={{ page_obj.previous_page_number }}{{ getvars }}"><i class="material-icons">chevron_left</i></a></li>
                {% endif %}
            {% else %}
                {% if display_disabled_previous_link %}
                    <li class="disabled"><a href="#"><i class="material-icons">chevron_left</i></a></li>
                {% endif %}
            {% endif %}
        {% endblock previouslink %}

        {% block pagelinks %}
            {% if display_page_links %}
                {% for page in pages %}
                    {% if page %}
                        {% ifequal page page_obj.number %}
                            <li class="active"><a href="#">{{ page }}</a></li>
                        {% else %}
                            {% if disable_link_for_first_page and page == 1 %}
                                <li class="waves-effect"><a href="{{ request.path }}{% if getvars %}?{{ getvars|slice:"1:" }}{% endif %}">{{ page }}</a></li>
                            {% else %}
                                <li class="waves-effect"><a href="?page{{ page_suffix }}={{ page }}{{ getvars }}">{{ page }}</a></li>
                            {% endif %}
                        {% endifequal %}
                    {% else %}
                        ...
                    {% endif %}
                {% endfor %}
            {% endif %}
        {% endblock pagelinks %}

        {% block nextlink %}
            {% if page_obj.has_next %}
                <li class="waves-effect"><a href="?page{{ page_suffix }}={{ page_obj.next_page_number }}{{ getvars }}"><i class="material-icons">chevron_right</i></a></li>
            {% else %}
                {% if display_disabled_next_link %}
                    <li class="disabled"><a href="#"><i class="material-icons">chevron_right</i></a></li>
                {% endif %}
            {% endif %}
        {% endblock nextlink %}
    </ul>
{% endif %}