{% extends "upload/layer_upload_base.html" %}
{% load i18n %}
{% load staticfiles %}
{% load layer_tags %}

{% block body_class %}data data-list upload grey lighten-4{% endblock %}
{% block title %} {% trans "Upload Layer Step: Time" %} - {{ block.super }} {% endblock %}
{% block head %} {{ block.super }} {% endblock %}

{% block layer_upload_breadcrumb %} 
    <a href="{% url 'layer_upload' %}" class="breadcrumb">{% trans "Upload Layers" %}</a>
{% endblock layer_upload_breadcrumb %}

{% block body_outer %}
    <section style="min-height: 64vh;">
        <div class="row">
            <div class="col s12">
                <div class="card">
                    <div class="card-content">
                        <div class="" style="/* padding: 0 15px; */">
                            <a href="{% url "layer_browse" %}?limit={{ CLIENT_RESULTS_LIMIT }}" class="btn waves-effect waves-light red darken-3 right">{% trans "Explore Layers" %}</a>
                            <h4 class="">{% trans "Upload Layers" %}</h4>
                        </div>
                        <div>
                            <h5> {% trans "Inspect data for " %} "{{ layer_name }}" </h5>
                            <div class="input-field">
                                <span>{% trans "Configure as Time-Series" %}</span>
                                <sup class="tooltipped" data-position="bottom" 
                                    data-tooltip="{% blocktrans %}
                                    Toggling this selector allows you to configure (or not) this data as a time series; in this case you will also have to select an attribute
                                    to drive the time dimension.
                                    <br/>
                                    If GeoNode is not able to parse any of the values for the selected attribute red markers will appear to highlight the problems.
                                    <br/>
                                    More information is provided at the bottom of the page in the "Additional Help" sections.{% endblocktrans %}">
                                    ?
                                </sup>
                                <div class="switch right">
                                    <label>
                                        <input type="checkbox" id="time-series-toggle-choice">
                                        <span class="lever"></span>
                                    </label>
                                </div>
                            </div>
                            <div class="row" style="display: none;">
                                <div class="col s12">
                                    <label>
                                        <input type="radio" class="with-gap" name="timetype" checked="checked" id="notime">
                                        <span>{% trans "No" %}</span>
                                    </label>
                                </div>
                                {% if time_form.time_attribute %}
                                    <div class="col s12">
                                        <label>
                                            <input type="radio" class="with-gap" name="timetype" id="existing">
                                            <span>{% trans "Yes: with an existing Time-Attribute" %}</span>
                                        </label>
                                    </div>
                                {% elif time_form.text_attribute %}
                                    <div class="col s12">
                                        <label>
                                            <input type="radio" class="with-gap" name="timetype" id="textattribute">
                                            <span>{% trans "Yes: by converting data to a timestamp using standard date/time representation" %}</span>
                                        </label>
                                    </div>
                                {% elif time_form.year_attribute %}
                                    <div class="col s12">
                                        <label>
                                            <input type="radio" class="with-gap" name="timetype" id="convertnumber">
                                            <span>{% trans "Yes: by converting a number as Year" %}</span>
                                        </label>
                                    </div>
                                {% endif %}
                            </div>
                        </div>
                        <div class="row">
                            <div class="col s12 l12">
                                <div class="table-responsive-scroll">
                                    <table class="striped highlight"
                                        id="bootstrap-text-att-table"
                                        data-toggle="table"
                                        data-toolbar="#toolbar"
                                        data-pagination="true"
                                        data-side-pagination="client"
                                        data-page-list="[5, 10, 20, 50, 100, 200]"
                                        data-search="true"
                                        data-height="500"
                                        data-classes="table table-hover table-condensed"
                                        data-striped="true"
                                        data-hover="true"
                                        data-click-to-select="true"
                                        data-single-select="true"
                                        data-sort-order="asc"
                                        data-show-export="false"
                                        data-show-refresh="true"
                                        data-show-toggle="false"
                                        data-show-columns="false">
                                        <thead>
                                            <tr>
                                                {% for att in layer_attributes %}
                                                    {% if att in time_form.time_names %}
                                                        <th data-field="{{ att }}" data-sortable="false" data-formatter="iso8601DateFormatter" >
                                                            <div class="radio" title="{{ att|camelize }}">
                                                                <input type="radio" name="time_attribute" id="id_time_attribute" value="{{ att }}" style="display: none;">
                                                                <label for="id_time_attribute"><strong>{{ att|camelize }}</strong></label>
                                                            </div>
                                                        </th>
                                                    {% elif att in time_form.text_names %}
                                                        <th data-field="{{ att }}" data-sortable="false" data-formatter="iso8601Formatter" >
                                                            <div class="radio" title="{{ att|camelize }}">
                                                                <input type="radio" name="text_attribute" id="id_text_attribute" value="{{ att }}" style="display: none;">
                                                                <label for="id_text_attribute"><strong>{{ att|camelize }}</strong></label>
                                                            </div>
                                                        </th>
                                                    {% elif att in time_form.year_names %}
                                                        <th data-field="{{ att }}" data-sortable="false" data-formatter="iso8601Formatter" >
                                                            <div class="radio" title="{{ att|camelize }}">
                                                                <input type="radio" name="year_attribute" id="id_year_attribute" value="{{ att }}" style="display: none;">
                                                                <label for="id_year_attribute"><strong>{{ att|camelize }}</strong></label>
                                                            </div>
                                                        </th>
                                                    {% else %}
                                                        <th data-field="{{ att }}" data-sortable="true">{{ att|camelize }}</th>
                                                    {% endif %}
                                                {% endfor %}
                                                <!-- th data-field="action" data-formatter="actionFormatter" data-events="actionEvents">Action</th -->
                                            </tr>
                                        </thead>
                                    </table>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
{% endblock %} 

{% block extra_script %}
    {{ block.super }}
    <script data-main="{% static 'geonode/js/upload/time' %}" src="{% static 'lib/js/require.js' %}"></script>
    <script type="text/javascript">
        {% autoescape off %}
        {% if async_upload %}
        //enableUploadProgress('timeForm');
        {% endif %}
        {% endautoescape %}
    </script>

    <script type="text/javascript">
        {% autoescape off %}

        var data_validation = false;
        var data_is_valid = {};

        function iso8601DateFormatter(value, row, index) {
            var time_checked_value = String(value);
            if(data_validation && !time_checked_value.match(
                /(^\d{4}$)|(\d{4}-[01]\d-[0-3]\dT[0-2]\d:[0-5]\d:[0-5]\d\.\d+)|(\d{4}-[01]\d-[0-3]\dT[0-2]\d:[0-5]\d:[0-5]\d)|(\d{4}-[01]\d-[0-3]\dT[0-2]\d:[0-5]\d)|(\d{4}-[01]\d-[0-3]\d)|(\d{4}\/[01]\d\/[0-3]\d)/
            )) {
                time_checked_value = '<font color="red" title="' + value +'{% trans " does NOT match any valid ISO-8601 Date-Time string!" %}">' +
                    '<i class="fa fa-exclamation-triangle" aria-hidden="true"></i>&nbsp;' + value +'</font>';
                try {
                    if(!data_is_valid.hasOwnProperty($(this)[0].field)){
                        data_is_valid[$(this)[0].field] = false;
                    }
                } catch(err) {
                    // console.log(err);
                }
             }
            return time_checked_value;
        }

        function iso8601Formatter(value, row, index) {
            var time_checked_value = String(value);
            if(data_validation && !time_checked_value.match(
                /(^\d{4}$)|(\d{4}-[01]\d-[0-3]\dT[0-2]\d:[0-5]\d:[0-5]\d\.\dZ+)|(\d{4}-[01]\d-[0-3]\dT[0-2]\d:[0-5]\d:[0-5]\dZ)|(\d{4}-[01]\d-[0-3]\dT[0-2]\d:[0-5]\dZ)/
            )) {
                time_checked_value = '<font color="red" title="' + value +'{% trans " does NOT match any valid ISO-8601 Date-Time string!" %}">' +
                    '<i class="fa fa-exclamation-triangle" aria-hidden="true"></i>&nbsp;' + value +'</font>';
                try {
                    if(!data_is_valid.hasOwnProperty($(this)[0].field)){
                        data_is_valid[$(this)[0].field] = false;
                    }
                } catch(err) {
                    // console.log(err);
                }
             }
            return time_checked_value;
        }

        function actionFormatter(value, row, index) {
            return [
                /*'<a class="like" href="javascript:void(0)" title="Like">',
                '<i class="glyphicon glyphicon-heart"></i>',
                '</a>',*/
                '<a class="edit ml10" href="javascript:void(0)" title="Edit">',
                '<i class="glyphicon glyphicon-edit"></i>',
                '</a>'/*,
                '<a class="remove ml10" href="javascript:void(0)" title="Remove">',
                '<i class="glyphicon glyphicon-remove"></i>',
                '</a>'*/
            ].join('');
        }

        window.actionEvents = {
            /*'click .like': function (e, value, row, index) {
                alert('You click like icon, row: ' + JSON.stringify(row));
                console.log(value, row, index);
            },*/
            'click .edit': function (e, value, row, index) {
                var time_attribute = '';
                $('input[id="id_text_attribute"]').each(function(index) {
                    if($('input[id="id_text_attribute"]')[index].checked) {
                        time_attribute = $('input[id="id_text_attribute"]')[index].value;
                    }
                });
                if (time_attribute) {
                    /********************************************
                    **    No time-zone varients:
                    **
                        //-- Complete precision:
                        /\d{4}-[01]\d-[0-3]\dT[0-2]\d:[0-5]\d:[0-5]\d\.\d+/

                        //-- No milliseconds:
                        /\d{4}-[01]\d-[0-3]\dT[0-2]\d:[0-5]\d:[0-5]\d/

                        //-- No Seconds:
                        /\d{4}-[01]\d-[0-3]\dT[0-2]\d:[0-5]\d/

                        //-- Putting it all together:
                        /(\d{4}-[01]\d-[0-3]\dT[0-2]\d:[0-5]\d:[0-5]\d\.\d+)|(\d{4}-[01]\d-[0-3]\dT[0-2]\d:[0-5]\d:[0-5]\d)|(\d{4}-[01]\d-[0-3]\dT[0-2]\d:[0-5]\d)/
                    **/
                    var time_value = String(row[time_attribute]);
                    if(time_value.match(
                        /(^\d{4}$)|(\d{4}-[01]\d-[0-3]\dT[0-2]\d:[0-5]\d:[0-5]\d\.\dZ+)|(\d{4}-[01]\d-[0-3]\dT[0-2]\d:[0-5]\d:[0-5]\dZ)|(\d{4}-[01]\d-[0-3]\dT[0-2]\d:[0-5]\dZ)/
                    )) {
                        $("#timeMsgBoxModalOK").find('.modal-title').text('{% trans "Valid ISO-8601 for" %} "' + time_attribute + '"');
                        $("#timeMsgBoxModalOK").find('.modal-body').text(time_value + ' {% trans "matches a valid ISO-8601 Date-Time string!" %}');
                        $("#timeMsgBoxModalOK").modal("show");
                    } else {
                        $("#timeMsgBoxModalWarning").find('.modal-title').text('{% trans "Not Valid ISO-8601 for" %} "' + time_attribute + '"');
                        $("#timeMsgBoxModalWarning").find('.modal-body').text(time_value + ' {% trans "does NOT match any valid ISO-8601 Date-Time string!" %}');
                        $("#timeMsgBoxModalWarning").modal("show");
                    }
                } else {
                    $("#timeMsgBoxModalWarning").find('.modal-title').text('{% trans "Wrong Selection" %}');
                    $("#timeMsgBoxModalWarning").find('.modal-body').text('{% trans "Please, select one Time Attribute to test!" %}');
                    $("#timeMsgBoxModalWarning").modal("show");
                }
            }/*,
            'click .remove': function (e, value, row, index) {
                alert('You click remove icon, row: ' + JSON.stringify(row));
                console.log(value, row, index);
            }*/
        };

        $(function () {
            var data = {{ layer_values }};
            // $('#bootstrap-table').bootstrapTable('load', data);
            $('#bootstrap-text-att-table').bootstrapTable('load', data);
        });
        {% endautoescape %}
    </script>
{% endblock %}
