{% extends "metadata_base.html" %}
{% load i18n %}
{% load base_tags %}
{% load guardian_tags %}
{% load widget_tweaks %}

{% block title %}{{ map.title }} — {{ block.super }}{% endblock %}

{% block body_class %}data{% endblock %}

{% block metadata_breadcrumb %}
    <a href="{% url 'maps_browse' %}?limit={{ CLIENT_RESULTS_LIMIT }}" class="breadcrumb">{% trans "Interactive Maps" %}</a>
    <a href="#" class="breadcrumb">{{ resource.title }}</a>
    <a href="#" class="breadcrumb">{% trans "Edit Metadata" %}</a>
{% endblock metadata_breadcrumb %}

{% block body_outer %}
    {{ block.super }}

    <div class="card">
        <div class="card-content">
            <span class="card-title">
                {% trans "Edit Metadata" %}
            </span>
            <p>
                {% blocktrans with map.title as map_title %}
                    Editing details for {{ map_title }}
                {% endblocktrans %}
            </p>
            {% if map.metadata_uploaded %}
                <div class="card-panel yellow lighten-2">
                    {% blocktrans %}Note: this map's orginal metadata was populated by importing a metadata XML file.
                    GeoNode's metadata import supports a subset of ISO, FGDC, and Dublin Core metadata elements.
                    Some of your original metadata may have been lost.{% endblocktrans %}
                </div>
            {% endif %}
            {% if map_form.errors or category_form.errors %}
                <div class="card-panel red lighten-2">{% blocktrans %}Error updating metadata.  Please check the following fields: {% endblocktrans %}
                    <ul>
                    {% for field in map_form %}
                        {% if field.errors %}
                            <li>{{ field.label }}</li>
                        {% endif %}
                    {% endfor %}

                    {% if category_form.errors %}
                        <li>{{ category_form.errors.as_ul }}</li>
                    {% endif %}
                    </ul>
                </div>
            {% endif %}

            <div class="row">
                <form id="metadata_update" class="" action="{{ map.get_absolute_url }}/metadata" method="POST">
                    {% csrf_token %}
                    
                    <div class="input-field col s12">
                        {{ map_form.title |attr:"class:"|attr:"placeholder:"|attr:"data-content:" }}
                        <label for="id_resource-title">{% trans "Title" %}</label>
                        <span class="helper-text">{% trans "name by which the cited resource is known" %}</span>
                    </div>
                    
                    
                    <div id="category_form" class="row">
                        <p class="col s12">{% trans "Category" %}</p>
                        {% autoescape off %}
                            {% for choice in category_form.category_choice_field.field.choices %}
                                <div class="input-field col s6 l4">
                                    <p>
                                        <label>
                                            <input type="radio" name="category_choice_field" value="{{ choice.0 }}" class="with-gap red darken-4"
                                            {% ifequal category_form.initial choice.0 %} checked="checked" {% endifequal %} />
                                            <span>{{ choice.1 }}</span>
                                        </label>
                                    </p>
                                </div>
                            {% endfor %}
                        {% endautoescape %}
                    </div>

                    <div id="poc_form" class="modal">
                        <div class="modal-content">
                            <h4>{% trans "Point of Contact" %}</h4>
                            <p>{{ poc_form }}</p>
                        </div>
                        <div class="modal-footer">
                            <a href="#!" class="modal-close waves-effect waves-green btn-flat">Close</a>
                        </div>
                    </div>
                
                    <div id="metadata_form" class="modal">
                        <div class="modal-content">
                            <h4>{% trans "Metadata Provider" %}</h4>
                            <p>{{ author_form }}</p>
                        </div>
                        <div class="modal-footer">
                            <a href="#!" class="modal-close waves-effect waves-green btn-flat">Close</a>
                        </div>
                    </div>

                    <div class="right">
                        <button type="submit" id="btn_upd_md_dwn" class="waves-effect waves-light btn red darken-3">{% trans "Update" %}</button>
                    </div>
                </form>
            </div>
        </div>
    </div>
{% endblock %}