{% load i18n %}
<div class="">
    <div class="row">
        {% verbatim %} <!-- use verbatim if angular tag -->
        <div class="col s12 m6 xl3 ng-cloak" ng-repeat="item in results" resource_id="{{ item.id }}" ng-cloak>
            <div class="card hoverable">
                <div class="card-image">
                    <button class="btn-floating btn-flat btn-flat-border waves-effect waves-light grey lighten-2" style="position:absolute; margin: 3px;" ng-if="cart" ng-click="cart.toggleItem(item)"><i class="material-icons">check</i></button>
                    <a href="{{ item.detail_url }}">
                        <img ng-src="{{ item.thumbnail_url }}">
                    </a>
                    <a href="{% endverbatim %}{% url "new_map" %}?layer={% verbatim %}{{ item.detail_url.substring(8) }}" ng-if="item.detail_url.indexOf('/layers/') > -1" {% endverbatim %} class="btn-floating halfway-fab waves-effect waves-light red" style="right: 72px;"><i class="material-icons">create</i></a>
                    <a href="{% verbatim %}/maps/{{item.id}}/view" class="btn-floating halfway-fab waves-effect waves-light red"  ng-if="item.detail_url.indexOf('/maps/') > -1" {% endverbatim %} style="right: 72px;"><i class="material-icons">map</i></a>
                    <a class="btn-floating halfway-fab waves-effect waves-light red activator"><i class="material-icons">info</i></a>
                </div>
                <div class="card-content">
                    {% verbatim %}
                    <a href="{{ item.detail_url }}">
                        <span class="card-title">{{ item.title }}</span>
                        <div class="rating">
                            <!-- The '|| 0' would prevent an undefined or null value on the Rating property -->
                            <div class="full-star" style="width: {{item.rating * 20 || 0}}%;">
                            </div>
                            <div class="empty-star">
                            </div>
                        </div>
                    </a>
                </div>
                <div class="card-reveal">
                    <span class="card-title grey-text text-darken-4">{{ item.title }}<i class="material-icons right close">close</i></span>
                    <p>
                        <span class="right valign-wrapper"><i class="material-icons">visibility</i>&nbsp;{{ item.popular_count }}</span>
                        {{ item.owner_name }}, {{ item.date|date:'d MMM y' }}
                    </p>
                    <p>{{ item.abstract | limitTo: 300 }}{{ item.abstract.length  > 300 ? '...' : ''}}</p>
                    <p>
                        <span class="new badge red" data-badge-caption="keywords"></span>
                        <span class="new badge red" data-badge-caption="keywords"></span>
                        <span class="new badge red" data-badge-caption="keywords"></span>
                    </p>
                    {% endverbatim %}
                </div>
            </div>
        </div>
        
    </div>
</div>

