{% load i18n %}

<div class="resource-list">
    <div class="row">
        {% verbatim %} <!-- use verbatim if angular tag -->
        <div class="col s12 m6 xl3 ng-cloak" ng-repeat="profile in results" ng-cloak>
            <div class="card hoverable">
                <div class="card-image">
                    <a href="{{ profile.profile_detail_url }}">
                        <img ng-src="{{ profile.avatar_100 }}">
                    </a>
                    <a class="btn-floating halfway-fab waves-effect waves-light red activator"><i class="material-icons">info</i></a>
                </div>
                <div class="card-content">
                    <a href="{{ profile.profile_detail_url }}">
                        <span class="card-title">{{ profile.first_name != '' ? profile.first_name : profile.username }} {{ profile.last_name != '' ? profile.last_name : '' }}</span>
                        <p>
                            <span ng-hide="profile.organization">
                                No Organization Info
                            </span>
                            <span ng-show="profile.organization">
                                {{ profile.organization | limitTo:30 }} <span ng-if="profile.organization.length > 30">...</span>
                            </span>
                        </p>
                    </a>
                </div>
                <div class="card-reveal">
                    <span class="card-title grey-text text-darken-4">{{ profile.first_name != '' ? profile.first_name : profile.username }} {{ profile.last_name != '' ? profile.last_name : '' }}<i class="material-icons right close">close</i></span>
                    <p>
                        <a href="{{ profile.profile_detail_url }}?content=layers" class="btn-flat">
                            <i class="material-icons">layers</i>&nbsp;
                            {{ profile.layers_count }}
                        </a>
                        <a href="{{ profile.profile_detail_url }}?content=maps" class="btn-flat">
                            <i class="material-icons">map</i>&nbsp;
                            {{ profile.maps_count }}
                        </a>
                        <a href="{{ profile.profile_detail_url }}?content=documents" class="btn-flat">
                            <i class="material-icons">insert_drive_file</i>&nbsp;
                            {{ profile.documents_count }}
                        </a>
                    </p>
                </div>
            </div>
        </div>
        {% endverbatim %}
    </div>
</div>