{% extends "people/profile_base.html" %}
{% load static %}
{% load i18n %}
{% load avatar_tags %}
{% load activity_tags %}
{% load pagination_tags %}
{% load social_tags %}

{% block title %} {% trans "Profile of " %}{{ profile.first_name|default:profile.username }}{% endblock %}

{% block head %}
    {% if TWITTER_CARD %}
        {% include "people/_profile_twittercard.html" %}
    {% endif %}
    {% if OPENGRAPH_ENABLED %}
        {% include "people/_profile_opengraph.html" %}
    {% endif %}
    {{ block.super }}
{% endblock %}

{% block body_class %}people explore grey lighten-4{% endblock %}

{% block profile_breadcrumb %}
    <a href="" class="breadcrumb">{{ profile.name_long }}</a>
{% endblock profile_breadcrumb %}

{% block isi %}
    <div class="row">
        <div class="col s12">
            <div id="profile-page-header" class="card">
                <div class="card-image waves-effect waves-block waves-light grey darken-3" style="height: 250px;">
                    <!-- <img class="" src="http://maxartkiller.in/website/rockon/rockon_blue/img/proflebg.png" alt="user isdc background"> -->
                </div>
                <figure class="card-profile-image" style="width: 110px;
                position: absolute;
                top: 190px;
                z-index: 1;
                left: 40px;
                cursor: pointer;
                margin: 0;">
                    <img src="https://pixinvent.com/materialize-material-design-admin-template/images/avatar/avatar-7.png" alt="profile image" class="circle z-depth-2 responsive-img white">
                </figure>
                <div class="card-content">
                    <div class="row">
                        <div class="col s12 m3 offset-m2">
                            <h4 class="card-title grey-text text-darken-4">{{ profile.first_name|default:profile.name_long }}</h4>
                            {% if user.is_authenticated %}
                                {% if user == profile %}
                                    {% for group in profile.group_list_all %}
                                        <p class="grey-text">{{ group.title }}</p>
                                    {% endfor %}
                                {% else %}
                                    {% for group in profile.group_list_public %}
                                        <p class="grey-text">{{ group.title }}</p>
                                    {% endfor %}
                                {% endif %}
                            {% endif %}
                            
                        </div>
                        <div class="col s12 m2 center-align">
                            <h4 class="card-title grey-text text-darken-4">10+</h4>
                            <p class="grey-text">{% trans "Layers" %}</p>
                        </div>
                        <div class="col s12 m2 center-align">
                            <h4 class="card-title grey-text text-darken-4">6</h4>
                            <p class="grey-text">{% trans "Maps" %}</p>
                        </div>
                        <div class="col s12 m2 center-align">
                            <h4 class="card-title grey-text text-darken-4">300</h4>
                            <p class="grey-text">{% trans "Static Maps" %}</p>
                        </div>
                        <div class="col s12 m1 right-align">
                            <a class="btn-floating activator waves-effect waves-light rec accent-2 right">
                                <i class="material-icons">perm_identity</i>
                            </a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="col s12 xl9">
            <div class="card">
                <div class="card-tabs">
                    <ul id="tabs_swipe_action_detail" class="tabs red darken-3">
                        <li class="tab col s4"><a href="#detail_profile" class="white-text">{% trans "Details" %}</a></li>
                        <li class="tab col s4"><a href="#resource" class="white-text">{% trans "Resources" %}</a></li>
                        <li class="tab col s4"><a href="#activity" class="white-text">{% trans "Activity" %}</a></li>
                    </ul>
                </div>
                <div class="card-content">
                    <div id="detail_profile" class="">
                        <table class="table table-user-profile">
                            <tbody>
                                {% if SHOW_PROFILE_EMAIL %}
                                    <tr>
                                        <td class="table-user-profile-attribute">{% trans 'Email' %}</td>
                                        {% if profile.email %}
                                            <td><a href="mailto:{{ profile.email }}">{{ profile.email }}</a></td>
                                        {% else %}
                                            <td>{% trans 'Not provided.' %}</td>
                                        {% endif %}
                                    </tr>
                                {% endif %}
                                <tr>
                                    <td class="table-user-profile-attribute">{% trans 'Position' %}</td>
                                    <td>{{ profile.position | default:_('Not provided.') }}</td>
                                </tr>
                                <tr>
                                    <td class="table-user-profile-attribute">{% trans 'Organization'  %}</td>
                                    <td>{{ profile.organization | default:_('Not provided.') }}</td>
                                </tr>
                                {% if user.is_authenticated %}
                                    <tr>
                                        <td class="table-user-profile-attribute">{% trans 'Location' %}</td>
                                        <td>{{ profile.location | default:_('Not provided.') }}</td>
                                    </tr>
                                    <tr>
                                        <td class="table-user-profile-attribute">{% trans 'Voice' %}</td>
                                        {% if profile.voice %}
                                            <td><a href="tel:{{ profile.voice }}">{{ profile.voice }}</a></td>
                                        {% else %}
                                            <td>Not provided.</td>
                                        {% endif %}
                                    </tr>
                                    <tr>
                                        <td class="table-user-profile-attribute">{% trans 'Fax' %}</td>
                                        <td>{{ profile.fax | default:_('Not provided.') }}</td>
                                    </tr>
                                    <tr>
                                        <td class="table-user-profile-attribute">{% trans 'Description' %}</td>
                                        <td>{{ profile.profile | default:_('Not provided.') }}</td>
                                    </tr>
                                {% endif %}
                                <tr>
                                    <td class="table-user-profile-attribute">{% trans 'Keywords' %}</td>
                                    <td>
                                        {% if profile.keyword_list %}
                                            {% for keyword in profile.keyword_list %}
                                                <span class="label label-default">{{ keyword }}</span>
                                            {% endfor %}
                                        {% else %}
                                            {% trans 'Not provided' %}
                                        {% endif %}
                                    </td>
                                </tr>
                            </tbody>
                        </table>
                        {% if USE_GEOSERVER and DISPLAY_WMS_LINKS %}
                            <br>
                            <p class="right-align">
                                {% if request.user.is_authenticated and 'access_token' in request.session %}
                                    <a href="{% url 'capabilities_user' profile.username %}?access_token={{ request.session.access_token }}" class="btn red darken-3 waves-effect waves-light">
                                {% else %}
                                    <a href="{% url 'capabilities_user' profile.username %}" class="btn red darken-3 waves-effect waves-light">
                                {% endif %}
                                        <i class="material-icons left">maps</i>{% trans 'User layers WMS Get Capabilities document' %}
                                    </a>
                            </p>
                        {% endif %}
                    </div>
                    <div id="resource" class="">
                        <div>
                            {% include "people/_profile_filters.html" %}
                        </div>
                        <div>
                            {% include 'base/_resourcebase_snippet.html' %}
                        </div>
                        <div>
                            {% include 'search/_pagination.html' %}
                        </div>
                    </div>
                    <div id="activity" class="">
                        <ul class="collection">
                            {% for action in action_list %}
                                {% activity_item action %}
                                {% empty %}
                                <p>{% trans "No actions yet" %}</p>
                            {% endfor %}
                            <!-- {#% include "actstream/actor.html" %} -->
                        </ul>
                    </div>
                </div>
            </div>
        </div>
        <div class="col s12 xl3">
            <div class="card">
                <!-- <div class="card-content"> -->
                    <div class="collection">
                        <!-- <div class="collection-header"><span class="card-title">First Names</span></div> -->
                        <div class="collection-item card-title red darken-3 white-text">Navigation</div>
                        <a href="{% url "message_create" profile.pk %}" class="collection-item grey-text text-darken-3"><i class="right fa fa-paper-plane-o"></i> {% trans "Message User" %}</a>
                        {% if user == profile %}
                            <a href="{% url "profile_edit" user.username %}" class="collection-item grey-text text-darken-3"><i class="right fa fa-edit"></i> {% trans "Edit profile" %}</a>
                            <a href="{% url "socialaccount_connections" %}" class="collection-item grey-text text-darken-3"><i class="right fa fa-sign-in"></i> {% trans "Connected social accounts" %}</a>
                            <a href="{% url "account_email" %}" class="collection-item grey-text text-darken-3"><i class="right fa fa-envelope-o"></i> {% trans "Associated e-mails" %}</a>
                            <a href="{% url "account_change_password" %}" class="collection-item grey-text text-darken-3"><i class="right fa fa-lock"></i> {% trans "Set/Change password" %}</a>
                            <a href="{% url "layer_upload" %}" class="collection-item grey-text text-darken-3"><i class="right fa fa-cloud-upload"></i> {% trans "Upload new layers" %}</a>
                            {% if 'geonode.contrib.createlayer' in INSTALLED_APPS %}
                                <a href="{% url "layer_create" %}" class="collection-item grey-text text-darken-3"><i class="right fa fa-map-o"></i> {% trans "Create a new layer" %}</a>
                            {% endif %}
                            <a href="{% url "new_map" %}" class="collection-item grey-text text-darken-3"><i class="right fa fa-map-marker"></i> {% trans "Create a new map" %}</a>
                            <a href="{% url "user-activity" profile.username %}" class="collection-item grey-text text-darken-3"><i class="right fa fa-fire"></i> {% trans "My Activities" %}</a>
                            {% if USE_NOTIFICATIONS %}
                                <a href="{% url "notice_settings" %}" class="collection-item grey-text text-darken-3"><i class="right fa fa-bell"></i> {% trans "Notifications" %}</a>
                            {% endif %}
                            {% if perms.announcements.can_manage %}
                                <a href="{% url "announcements_list" %}" class="collection-item grey-text text-darken-3"><i class="right fa fa-bullhorn"></i> {% trans "Announcements" %}</a>
                            {% endif %}
                            <a href="{% url "geonode.invitations:geonode-send-invite" %}" class="collection-item grey-text text-darken-3"><i class="right fa fa-edit"></i> {% trans "Invite Users" %}</a>
                            {% if user.is_superuser %}
                                <a href="{% url "services" %}?limit={{ CLIENT_RESULTS_LIMIT }}" class="collection-item grey-text text-darken-3"><i class="right fa fa-globe"></i> {% trans "Remote Services" %}</a>
                                <a href="{% url "proxy" %}?url={{ GEOSERVER_LOCAL_URL }}web" class="collection-item grey-text text-darken-3"><i class="right fa fa-gears"></i> {% trans "GeoServer" %}</a>
                            {% endif %}
                            {% if user.is_staff %}
                                <a href="{% url "admin:index" %}" class="collection-item grey-text text-darken-3"><i class="right fa fa-cog"></i> {% trans "Admin" %}</a>
                            {% endif %}
                        {% else %}
                            {% if user.is_superuser %}
                                <a href="{% url "profile_edit" profile.username %}" class="collection-item grey-text text-darken-3"><i class="right fa fa-edit"></i> {% trans "Edit profile" %}</a>
                            {% endif %}
                            <a href="{% url "user-activity" profile.username %}" class="collection-item grey-text text-darken-3"><i class="right fa fa-fire"></i> {% trans "User Activities" %}</a>
                        {% endif %}
                    </div>
                <!-- </div> -->
            </div>
        </div>
    </div>
{% endblock %}
