{% extends "people/profile_base.html" %}
{% load i18n %}

{% block title %} {% trans "Explore People" %} - {{ block.super }} {% endblock %}

{% block body_class %}people people-list explore grey lighten-4{% endblock %}

{% block profile_breadcrumb %}
    <a href="{% url 'profile_browse' %}?limit={{ CLIENT_RESULTS_LIMIT }}" class="breadcrumb">{% trans "User" %}</a>
{% endblock profile_breadcrumb %}

{% block isi %}
    <div class="row">
        <div class="col s12">
            <div class="card">
                <div class="card-content">
                    <div class="right">
                        <a href="#" class="waves-effect waves-light btn-floating red darken-3 tooltipped" data-position="bottom" data-tooltip="{% trans 'Set Permission' %}">
                            <i class="material-icons left">group_add</i>
                        </a>
                        {% block total %}{% endblock %}
                    </div>
                    <span class="card-title">{% trans "Explore User" %}</span>
                </div>
            </div>
        </div>
        <div class="product-menu">
            {% with include_type_filter='true' %}
                {% with facet_type='people' %}
                    {% include "search/_search_user_content.html" %}
                {% endwith %}
            {% endwith %}
            {% include "_bulk_permissions_form.html" %}
        </div>
    </div>
{% endblock %}

{% block extra_script %}
    {{ block.super }}
    <script type="text/javascript">
        SEARCH_URL = '{% url 'api_dispatch_list' api_name='api' resource_name='profiles' %}';
    </script>
    {% with include_spatial='false' %}
        {% include 'search/search_scripts.html' %}
    {% endwith %}
{% endblock extra_script %}
