{% extends "layouts/panels.html" %}
{% load floppyforms %}
{% load i18n %}
{% load widget_tweaks %}

{% block extra_head %}
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-datetimepicker/4.17.47/css/bootstrap-datetimepicker.min.css">
    {{ block.super }}
{% endblock %}

{% block body_outer %}
    <div id="settings" class="modal">
        <div class="modal-content">
            <h4>Metadata Settings</h4>
            <div>
                <label for="{{ document_form.metadata_uploaded_preserve|id }}">
                    {{ document_form.metadata_uploaded_preserve |attr:"class:filled-in" }}
                    <span>{{ document_form.metadata_uploaded_preserve.label }}</span>
                </label>
            </div>
            <div>
                <label for="{{ document_form.is_approved|id }}">
                    {{ document_form.is_approved |attr:"class:filled-in" }}
                    <span>{{ document_form.is_approved.label }}</span>
                </label>
            </div>
            <div>
                <label for="{{ document_form.is_published|id }}">
                    {{ document_form.is_published |attr:"class:filled-in" }}
                    <span>{{ document_form.is_published.label }}</span>
                </label>
            </div>
            <div>
                <label for="{{ document_form.featured|id }}">
                    {{ document_form.featured |attr:"class:filled-in" }}
                    <span>{{ document_form.featured.label }}</span>
                </label>
            </div>
        </div>
        <div class="modal-footer">
            <a href="#!" class="modal-close waves-effect waves-light btn-flat">Close</a>
        </div>
    </div>

    <ul class="stepper linear">
        <li class="step active">
            <div class="step-title waves-effect">Basic Metadata</div>
            <div class="step-content">
                <!-- Your step content goes here (like inputs or so) -->
                <div id="basicDescriptiveInfo" class="row">
                    <div class="input-field col s12">
                        {{ document_form.title |attr:"class:" }}
                        <label for="{{ document_form.title|id }}">{{ document_form.title.label }}</label>
                    </div>
                    <!--<p class="xxs-font-size">(Name by which the cited resource is known)</p>-->
                    <div class="input-field col s12">
                        <span class="helper-text">{{ document_form.links.label }}</span>
                        {{ document_form.links |attr:"class:browser-default" }}
                        <!-- <label for="{{ document_form.links|id }}">{{ document_form.links.label }}</label> -->
                    </div>
                    <div class="input-field col s12">
                        {{ document_form.abstract |attr:"class:materialize-textarea" }}
                        <label for="{{ document_form.abstract|id }}">{{ document_form.abstract.label }}</label>
                    </div>
                    <!--<p class="xxs-font-size">(Brief narrative summary of the content of the resource/s)</p>-->
                    <div class="input-field col s12">
                        <span class="helper-text">{{ document_form.keywords.label }}</span>
                        {{ document_form.keywords |attr:"aria-required:true"|attr:"required" }}
                    </div>
                    <div class="input-field col s12 thesauri_keywords">
                        {{ tkeywords_form }}
                    </div>
                    <div class="input-field col s12">
                        {{ document_form.date_type }}
                        <label for="{{ document_form.date_type|id }}">{{ document_form.date_type.label }}</label>
                        <!--<p class="xxs-font-size">(Identification of when a given event occurred)</p>-->
                    </div>
                    <div class="input-field col s12">
                        {{ document_form.date }}
                        <label for="{{ document_form.date|id }}">{{ document_form.date.label }}</label>
                        <!--<p class="xxs-font-size">(When a given event occurred on the resource)</p>-->
                    </div>
                    <div class="input-field col s12">
                        <select 
                            name="category_choice_field"
                            id="category_form"
                            class=""
                            >
                            <option {% if not category_form.initial %} selected="selected" {% endif %} value="">---</option>
                            {% for choice in category_form.category_choice_field.field.choices %}
                                <option
                                {% ifequal category_form.initial choice.0 %} selected="selected" {% endifequal %}
                                value="{{ choice.0 }}"
                                data-content="<span data-content=' {{ choice.2.description }}' rigger='hover'><i class='fa {{choice.2.fa_class}}'></i> {{ choice.2.gn_description }}<span>"
                                >{{ choice.2.gn_description }}</option>
                            {% endfor %}
                        </select>
                        <label for="{{ category_form.category_choice_field|id }}">{% trans "Category" %}</label>
                    </div>
                    <div class="input-field col s12">
                        <select
                            name="resource-group"
                            id="id_resource-group"
                            class=""
                            >
                            <option {% if not group %} selected="selected" {% endif %} value="">---</option>
                            {% for group in metadata_author_groups %}
                                <option
                                    value="{{ group.group.id }}"
                                    {% ifequal resource.group group.group %} selected="selected" {% endifequal %}
                                    >{{ group.title }}</option>
                            {% endfor %}
                        </select>
                        <label for="id_resource-group" class="">{% trans "Group" %}</label>
                    </div>
                </div>
                <div class="step-actions hide">
                    <!-- Here goes your actions buttons -->
                    <button class="waves-effect waves-dark btn red darken-3 next-step">CONTINUE</button>
                </div>
            </div>
        </li>
        <li class="step">
            <div class="step-title waves-effect waves-dark">Location and Licenses</div>
            <div class="step-content">
                <div id="mdinfo" class="row">
                    <div class="input-field col s12">
                        {{ document_form.language }}
                        <label for="{{ document_form.language|id }}">{{ document_form.language.label }}</label>
                        <!--<p class="xxs-font-size">(Language used within the dataset)</p>-->
                    </div>
                    <div class="input-field col s12">
                        {{ document_form.license |attr:"aria-required:true"|attr:"required" }}
                        <label for="{{ document_form.license|id }}">{{ document_form.license.label }}</label>
                        <!--<p class="xxs-font-size">(License of the dataset)</p>-->
                    </div>
                    <div class="input-field col s12">
                        {{ document_form.regions |attr:"class:browser-default" }}
                        <label for="{{ document_form.regions|id }}">{{ document_form.regions.label }}</label>
                    </div>
                    <div class="input-field col s12">
                        {{ document_form.data_quality_statement |attr:"class:materialize-textarea" }}
                        <label for="{{ document_form.data_quality_statement|id }}">{{ document_form.data_quality_statement.label }}</label>
                        <!--<p class="xxs-font-size">(General explanation of the data producer's knowledge about the lineage)</p>-->
                    </div>
                    <div class="input-field col s12">
                        {{ document_form.restriction_code_type |attr:"aria-required:true"|attr:"required" }}
                        <label for="{{ document_form.restriction_code_type|id }}">{{ document_form.restriction_code_type.label }}</label>
                        <!--<p class="xxs-font-size">(Limitation/s placed upon the access or use of data)</p>-->
                    </div>
                    <div class="input-field col s12">
                        {{ document_form.constraints_other |attr:"class:materialize-textarea" }}
                        <label for="{{ document_form.constraints_other|id }}">{{ document_form.constraints_other.label }}</label>
                        <!--<p class="xxs-font-size">(Other restrictions and legal prerequisites for accessing or use data and metadata)</p>-->
                    </div>
                </div>
                <div class="step-actions hide">
                    <button class="waves-effect waves-dark btn-flat previous-step">BACK</button>
                    <button class="waves-effect waves-dark btn red darken-3 next-step">CONTINUE</button>
                </div>
            </div>
        </li>
        <li class="step">
            <div class="step-title waves-effect waves-dark">Optional Metadata</div>
            <div class="step-content">
                <div class="row">
                    <div class="input-field col s12">
                        {{ document_form.edition |attr:"class:" }}
                        <label for="{{ document_form.edition|id }}">{{ document_form.edition.label }}</label>
                        <!--<p class="xxs-font-size">(Version of the cited resource)</p>-->
                    </div>
                    <div class="input-field col s12">
                        {{ document_form.purpose |attr:"class:materialize-textarea" }}
                        <label for="{{ document_form.purpose|id }}">{{ document_form.purpose.label }}</label>
                        <!--<p class="xxs-font-size">(Brief narrative summary of the intentions with which the resource/s ...)</p>-->
                    </div>
                    <div class="input-field col s12">
                        {{ document_form.supplemental_information |attr:"class:materialize-textarea" }}
                        <label for="{{ document_form.supplemental_information|id }}">{{ document_form.supplemental_information.label }}</label>
                        <!--<p class="xxs-font-size">(Any other descriptive information about the dataset)</p>-->
                    </div>
                    <div class="input-field col s12">
                        {{ document_form.temporal_extent_start }}
                        <label for="{{ document_form.temporal_extent_start|id }}">{{ document_form.temporal_extent_start.label }}</label>
                        <!--<p class="xxs-font-size">(When a given event occurred on the resource)</p>-->
                    </div>
                    <div class="input-field col s12">
                        {{ document_form.temporal_extent_end }}
                        <label for="{{ document_form.temporal_extent_end|id }}">{{ document_form.temporal_extent_end.label }}</label>
                        <!--<p class="xxs-font-size">(Identification of when a given event occurred)</p>-->
                    </div>
                    <div class="input-field col s12">
                        {{ document_form.maintenance_frequency |attr:"class:materialize-select" }}
                        <label for="{{ document_form.maintenance_frequency|id }}">{{ document_form.maintenance_frequency.label }}</label>
                        <!--<p class="xxs-font-size">(Identification of when a given event occurred)</p>-->
                    </div>
                    <div class="input-field col s12">
                        {{ document_form.spatial_representation_type |attr:"class:materialize-select" }}
                        <label for="{{ document_form.spatial_representation_type|id }}">{{ document_form.spatial_representation_type.label }}</label>
                        <!--<p class="xxs-font-size">(Method used to represent geographic information in the dataset)</p>-->
                    </div>
                    <div class="input-field col s12">
                        <span class="helper-text">{{ document_form.poc.label }}</span>
                        {{ document_form.poc |attr:"class:"|attr:"placeholder:" }}
                        <!-- <label for="id_resource-poc-autocomplete">{{ document_form.poc.label }}</label> -->
                    </div>
                    <div class="input-field col s12">
                        <span class="helper-text">{{ document_form.owner.label }}</span>
                        {{ document_form.owner |attr:"class:"|attr:"placeholder:" }}
                        <!-- <label for="{{ document_form.owner|id }}">{{ document_form.owner.label }}</label> -->
                        <!--<p class="xxs-font-size">(Owner of the cited resource)</p>-->
                    </div>
                    <div class="input-field col s12">
                        <span class="helper-text">{{ document_form.metadata_author.label }}</span>
                        {{ document_form.metadata_author |attr:"class:"|attr:"placeholder:" }}
                        <!-- <label for="{{ document_form.metadata_author|id }}">{{ document_form.metadata_author.label }}</label> -->
                        <!--<p class="xxs-font-size">(Author of the metadata)</p>-->
                    </div>
                </div>
                <div class="step-actions hide">
                    <button class="waves-effect waves-dark btn red darken-3 next-step" data-feedback="noThing">ENDLESS CALLBACK!</button>
                </div>
            </div>
        </li>
    </ul>

    {% if GEONODE_SECURITY_ENABLED %}
        <!-- <a href="#modal_permission" id="" class="btn-flat btn-flat-border modal-trigger waves-effect waves-light red-text text-darken-3">{% trans "Change Permissions" %}</a>
        <form id="permission_form">
            {# include "_permissions02.html" #}
        </form> -->
    {% endif %}

    <script>
        $("#id_resource-owner").remove();
        $("#id_resource-poc").remove();
        // $("#id_resource-poc").addClass("browser-default");
        // $("#id_resource-poc").addClass("hide");
        $("#id_resource-metadata_author").remove();
    </script>

{% endblock %}

{% block extra_script %}
    <!-- {{ block.super }} -->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-datetimepicker/4.17.47/js/bootstrap-datetimepicker.min.js"></script>
    <script>
        $(document).ready(function() {
            $("input").removeClass("has-popover")
        });
    </script>
{% endblock extra_script %}