{% extends "account/base.html" %}

{% load i18n %}
{--% load bootstrap_tags %--}
{% load account socialaccount %}

{% block title %}{% trans "Log in" %}{% endblock %}
{% block body_class %}red darken-3{% endblock %}

{% block body_outer %}

    {% get_providers as socialaccount_providers %}
    {% if socialaccount_providers %}
        <p>{% blocktrans with site.name as site_name %}Please sign in with one of your existing third party accounts. Or, <a href="{{ signup_url }}">sign up</a> for a {{ site_name }} account and sign in below:{% endblocktrans %}</p>
        <div class="socialaccount_ballot">
            <ul class="socialaccount_providers">
                {% include "socialaccount/snippets/provider_list.html" with process="login" %}
            </ul>

            <div class="login-or">{% trans 'or' %}</div>
        </div>

        {% include "socialaccount/snippets/login_extra.html" %}
    {% endif %}

    <div class="row">
        <div class="col s12 m6 offset-m3 xl4 offset-xl4 valign-wrapper" style="height: 100vh;">
            <div class="card white z-depth-4">
                <div class="card-content red-text text-darken-2">
                    <div class="row valign-wrapper">
                        <div class="col s8 m9 xl9">
                            <span class="card-title">{% trans "Sign in" %}</span>
                        </div>
                        <div class="col s4 m3 xl3">
                            <a href="{% url 'home' %}">
                                <img src="{{ STATIC_URL }}isdc/img/immap_logo/immap_full_color.png" width="60" class="circle responsive-img right">
                            </a>
                        </div>
                    </div>
                    <div class="row">
                        <form role="form" method="POST" action="{% url 'account_login' %}" autocapitalize="off" {% if form.is_multipart %} enctype="multipart/form-data"{% endif %}>
                            {% csrf_token %}
                            <div class="input-field col s12">
                                <i class="material-icons prefix">account_circle</i>
                                {{ form.login }}
                                <!-- <input id="id_login" type="email" class="validate" autofocus="autofocus"> -->
                                <label for="id_login">Email / Username</label>
                            </div>
                            <div class="input-field col s10">
                                <i class="material-icons prefix">lock</i>
                                {{ form.password }}
                                <!-- <input id="password" type="password" class="validate"> -->
                                <label for="id_password">Password</label>
                            </div>
                            <div class="input-field col s2">
                                <!-- <i id="vis_pwd_login" class="material-icons waves-effect waves-circle">visibility_off</i> -->
                                <a class="waves-effect btn-floating btn-flat white prefix"><i id="vis_pwd_login" class="red-text text-darken-2 material-icons">visibility_off</i></a>
                            </div>
                            <div class="input-field col s12">
                                <p>
                                    <label>
                                        <input type="checkbox" class="filled-in red darken-4" />
                                        <span style="margin-left: 5px; padding-left: 3rem - 5px;">Remember Me</span>
                                    </label>
                                </p>
                            </div>
                            {% if redirect_field_value %}
                                <input type="hidden" name="{{ redirect_field_name }}" value="{{ redirect_field_value }}" />
                            {% endif %}
                            <div class="input-field col s12">
                                <button class="btn waves-effect waves-light col s12 red darken-4" type="submit" name="action">{% trans "Login" %}</button>
                            </div>
                            <div class="col s6">
                                <p class="">
                                    <a href="{{ signup_url }}" class="red-text">Register Now!</a>
                                </p>
                            </div>
                            <div class=" col s6">
                                <p class="right">
                                    <a href="{% url 'account_reset_password' %}" class="red-text">{% trans "Forgot Password?" %}</a>
                                </p>
                            </div>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>
{% endblock body_outer %}

{% block extra_script %}
    {{ block.super }}
    <script type="text/javascript">
        $(document).ready(function() {
            document.getElementById("id_login").autofocus = false;
            // document.querySelector('#id_login').removeAttr('autofocus', 'autofocus');
            // $("input[autofocus]").blur();
            // document.querySelector('#id_login').autofocus = false;
            $("#id_login").parent().find("label").removeClass("active"); 
            // $('#id_login').removeAttr('autofocus');
            console.log(document.getElementById("id_login").autofocus);
            $('#id_login').removeAttr('placeholder');
            $('#id_password').removeAttr('placeholder');
        });
    </script>
{% endblock %}