{% extends "account/base.html" %}
{% load i18n %}
{% load widget_tweaks %}

{% block title %}{% trans "Password change" %}{% endblock %}

{% block people %}
    <a href="#" class="breadcrumb">{% trans "Change Password" %}</a>
{% endblock people %}

{% block body_outer %}
    <section style="min-height: 64vh;">
        <div class="row">
            <div class="col s12">
                <div class="card">
                    <div class="card-content">
                        <span class="card-title">{% trans "Password Change" %}</span>
                        <form method="POST" action="">
                            {% csrf_token %}
                            <div class="input-field">
                                {{ form.oldpassword }}
                                <label for="id_oldpassword">{% trans "Current Password" %}</label>
                            </div>
                            <div class="input-field">
                                {{ form.password1 }}
                                <label for="id_password1">{% trans "New Password" %}</label>
                            </div>
                            <div class="input-field">
                                {{ form.password2 }}
                                <label for="id_password2">{% trans "New Password (again)" %}</label>
                            </div>
                            <div class="right-align">
                                <button type="submit" class="btn btn waves-effect waves-light red darken-3">{% trans "Change my password" %}</button>
                            </div>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </section>
{% endblock %}

{% block extra_script %}
    {{ block.super }}
    <script type="text/javascript">
        $(document).ready(function() {
            $('#id_oldpassword').removeAttr('placeholder');
            $('#id_password1').removeAttr('placeholder');
            $('#id_password2').removeAttr('placeholder');
        });
    </script>
{% endblock %}