{% extends "account/base.html" %}

{% load i18n %}
<!-- {--% load bootstrap_tags %--} -->
{% load account socialaccount %}

{% block title %}{% trans "Sign up" %}{% endblock %}

{% block body_outer %}
    <div class="page-header">
        <h2>{% trans "Sign up" %}</h2>
    </div>
    <div class="row">
      {% get_providers as socialaccount_providers %}
      {% if socialaccount_providers %}
          <p>{% blocktrans with site.name as site_name %}Sign up with one
              of your existing third party accounts{% endblocktrans %}</p>
          {% include "socialaccount/snippets/provider_list.html" with process="signup" %}
          {% include "socialaccount/snippets/login_extra.html" %}
          <hr>
      {% endif %}
    </div>
    <div class="row">
        <p>Create a new local account</p>
        <form id="signup_form" method="post" action="{%url "account_signup" %}" autocapitalize="off" {% if form.is_multipart %}
            enctype="multipart/form-data" {% endif %}>

            <div class="col-md-6">
                {% csrf_token %}
                <div class="col-md-12">
                    <div class="isdc-field">
                        <div class="isdc-select mdc-select">
                            {{ form.title }}
                            <label class="isdc-select__label mdc-floating-label" for="isdc-state-input">
                                Title
                            </label>
                            <div class="mdc-line-ripple"></div>
                        </div>
                    </div>
                </div>
                <div class="col-md-12">
                    <div class="isdc-field">
                        <div class="isdc-text-field mdc-text-field mdc-text-field--upgraded">
                            {{ form.first_name }}
                            <label class="isdc-floating-label mdc-floating-label" for="isdc-name-input">
                                First Name
                            </label>
                            <div class="mdc-line-ripple"></div>
                        </div>
                        <p class="mdc-text-field-helper-text mdc-text-field-helper-text--persistent mdc-text-field-helper-text--validation-msg" id="pw-validation-msg">Helper Text</p>
                    </div>
                </div>
                <div class="col-md-12">
                    <div class="isdc-field">
                        <div class="isdc-text-field mdc-text-field mdc-text-field--upgraded">
                            {{ form.last_name }}
                            <label class="isdc-floating-label mdc-floating-label" for="isdc-name-input">
                                Last Name
                            </label>
                            <div class="mdc-line-ripple"></div>
                        </div>
                        <p class="mdc-text-field-helper-text mdc-text-field-helper-text--persistent mdc-text-field-helper-text--validation-msg" id="pw-validation-msg">Helper Text</p>
                    </div>
                </div>
                <div class="col-md-12">
                    <div class="isdc-field">
                        <div class="isdc-text-field mdc-text-field mdc-text-field--upgraded">
                            {{ form.organization }}
                            <label class="isdc-floating-label mdc-floating-label" for="isdc-name-input">
                                Organization
                            </label>
                            <div class="mdc-line-ripple"></div>
                        </div>
                        <p class="mdc-text-field-helper-text mdc-text-field-helper-text--persistent mdc-text-field-helper-text--validation-msg" id="pw-validation-msg">Helper Text</p>
                    </div>
                </div>
                <div class="col-md-12">
                    <div class="isdc-field">
                        <div class="isdc-text-field mdc-text-field mdc-text-field--upgraded">
                            {{ form.org_acronym }}
                            <label class="isdc-floating-label mdc-floating-label" for="isdc-name-input">
                                Organisation acronym
                            </label>
                            <div class="mdc-line-ripple"></div>
                        </div>
                        <p class="mdc-text-field-helper-text mdc-text-field-helper-text--persistent mdc-text-field-helper-text--validation-msg" id="pw-validation-msg">Helper Text</p>
                    </div>
                </div>
                <div class="col-md-12">
                    <div class="isdc-field">
                        <div class="isdc-text-field mdc-text-field mdc-text-field--upgraded">
                            {{ form.position }}
                            <label class="isdc-floating-label mdc-floating-label" for="isdc-name-input">
                                Position
                            </label>
                            <div class="mdc-line-ripple"></div>
                        </div>
                        <p class="mdc-text-field-helper-text mdc-text-field-helper-text--persistent mdc-text-field-helper-text--validation-msg" id="pw-validation-msg">Helper Text</p>
                    </div>
                </div>
            
            </div>
            <div class="col-md-6">
                <div class="col-md-12">
                    <div class="isdc-field">
                        <div class="isdc-text-field mdc-text-field mdc-text-field--upgraded">
                            {{ form.email }}
                            <label class="isdc-floating-label mdc-floating-label" for="isdc-name-input">
                                Email address
                            </label>
                            <div class="mdc-line-ripple"></div>
                        </div>
                        <p class="mdc-text-field-helper-text mdc-text-field-helper-text--persistent mdc-text-field-helper-text--validation-msg" id="pw-validation-msg">Helper Text</p>
                    </div>
                </div>
            
                <div class="col-md-12">
                    <div class="isdc-field">
                        <div class="isdc-text-field mdc-text-field mdc-text-field--upgraded">
                            {{ form.username }}
                            <label class="isdc-floating-label mdc-floating-label" for="isdc-name-input">
                                Username
                            </label>
                            <div class="mdc-line-ripple"></div>
                        </div>
                        <p class="mdc-text-field-helper-text mdc-text-field-helper-text--persistent mdc-text-field-helper-text--validation-msg" id="pw-validation-msg">Helper Text</p>
                    </div>
                </div>
            
                <div class="col-md-12">
                    <div class="isdc-field">
                        <div class="isdc-text-field mdc-text-field mdc-text-field--upgraded">
                            {{ form.password1 }}
                            <label class="isdc-floating-label mdc-floating-label" for="isdc-name-input">
                                Password
                            </label>
                            <div class="mdc-line-ripple"></div>
                        </div>
                        <p class="mdc-text-field-helper-text mdc-text-field-helper-text--persistent mdc-text-field-helper-text--validation-msg" id="pw-validation-msg">Helper Text</p>
                    </div>
                </div>
            
            
                <div class="col-md-12">
                    <div class="isdc-field">
                        <div class="isdc-text-field mdc-text-field mdc-text-field--upgraded">
                            {{ form.password2 }}
                            <label class="isdc-floating-label mdc-floating-label" for="isdc-name-input">
                                Password (again)
                            </label>
                            <div class="mdc-line-ripple"></div>
                        </div>
                        <p class="mdc-text-field-helper-text mdc-text-field-helper-text--persistent mdc-text-field-helper-text--validation-msg" id="pw-validation-msg">Helper Text</p>
                    </div>
                </div>
            </div>
            {% if redirect_field_value %}
            <input type="hidden" name="{{ redirect_field_name }}" value="{{ redirect_field_value }}" /> {% endif %}
            <div class="form-actions pull-right">
                <button type="submit" class="isdc-singup mdc-button mdc-button--raised">
                    <i class="material-icons mdc-button__icon" aria-hidden="true">face</i>
                    {% trans "Sign up" %}
                    </button>
            </div>
        </form>
    </div>
{% endblock %}

{% block extra_script %}
    {{ block.super }}
    <script type="text/javascript">
        $(document).ready(function() {
            $('#id_password1').addClass('isdc-text-field__input mdc-text-field__input').removeAttr('placeholder');
            $('#id_password2').addClass('isdc-text-field__input mdc-text-field__input').removeAttr('placeholder');
            $("option[value='']").attr("disabled", "selected");
        });
        
    </script>
{% endblock %}
