{% extends "account/base.html" %}

{% load i18n %}
{% load account socialaccount %}
{% load widget_tweaks %}
{% block title %}{% trans "Sign up" %}{% endblock %}

{% block body_outer %}
    <div class="row">
      {% get_providers as socialaccount_providers %}
      {% if socialaccount_providers %}
          <p>{% blocktrans with site.name as site_name %}Sign up with one
              of your existing third party accounts{% endblocktrans %}</p>
          {% include "socialaccount/snippets/provider_list.html" with process="signup" %}
          {% include "socialaccount/snippets/login_extra.html" %}
          <hr>
      {% endif %}
    </div>


    {% if form.errors %}
        {% for field in form %}
            {% for error in field.errors %}
                <div class="alert alert-error">
                    <strong>{{ error|escape }}</strong>
                </div>
            {% endfor %}
        {% endfor %}
        {% for error in form.non_field_errors %}
            <div class="alert alert-error">
                <strong>{{ error|escape }}</strong>
            </div>
        {% endfor %}
    {% endif %}


    {% if form.password1.errors %}
        {% for error in form.password1.errors %}
            <p>This field is required</p>
        {% endfor %}
    {% endif %}

    <div class="row">
        <div class="col s12 m8 offset-m2 xl6 offset-xl3 valign-wrapper" style="height: 100vh;">
            <div class="card white z-depth-4">
                <div class="card-content red-text text-darken-2">
                    <span class="card-title">{% trans "Sign up" %}</span>
                    <div class="row">
                        <form id="signup_form" method="post" action="{% url "account_signup" %}" autocapitalize="off" {% if form.is_multipart %} enctype="multipart/form-data"{% endif %}>
                            {% csrf_token %}
                            <div class="input-field col s3">
                                {{ form.title }}
                            </div>
                            <div class="input-field col s5">
                                {{ form.first_name }}
                                <label for="id__first_name">First Name</label>
                            </div>
                            <div class="input-field col s4">
                                {{ form.last_name }}
                                <label for="id__last_name">Last Name</label>
                            </div>
                            <div class="input-field col s12">
                                {{ form.username }}
                                <label for="id__username">Username</label>
                                <span class="helper-text" data-error="wrong" data-success="valid">You can use letters, numbers & periods</span>
                            </div>
                            <div class="input-field col s12">
                                {{ form.email }}
                                <label for="id__email">Email</label>
                                <span class="helper-text" data-error="Please use valid email address" data-success="valid"></span>
                            </div>
                            <div class="input-field col s5">
                                {{ form.password1 |attr:"class:validate"|attr:"aria-required:true"|attr:"onchange:form.id_password2.pattern = RegExp.escape(this.value);"|attr:"pattern:(?=.*\d)(?=.*[a-z])(?=.*[A-Z]).{6,}" }}
                                <label for="id_password1">Password</label>
                                <span class="helper-text" data-error="wrong" data-success="valid">Use 8 or more characters with a mix of letters, numbers & symbols</span>
                            </div>
                            <div class="input-field col s5">
                                {{ form.password2 |attr:"class:validate"|attr:"aria-required:true" }}
                                <label for="id_password2">Confirm Password</label>
                                <span class="helper-text" data-error="wrong" data-success="valid">Re-type the password</span>
                            </div>
                            <div class="input-field col s2">
                                <a class="waves-effect waves-light btn-floating red darken-4"><i id="vis_pwd" class="material-icons">visibility_off</i></a>
                            </div>
                            <div class="input-field col s8">
                                {{ form.organization }}
                                <label for="id__organization">Organization</label>
                                <span class="helper-text" data-error="wrong" data-success="valid">Your Workplace</span>
                            </div>
                            <div class="input-field col s4">
                                {{ form.org_acronym }}
                                <label for="id__org_acronym">Acronym</label>
                                <span class="helper-text" data-error="wrong" data-success="valid">Helper text</span>
                            </div>
                            <div class="input-field col s12">
                                {{ form.position }}
                                <label for="id__position">Function/Position</label>
                                <span class="helper-text" data-error="wrong" data-success="valid">Helper text</span>
                            </div>
                            {% if redirect_field_value %}
                            <input type="hidden" name="{{ redirect_field_name }}" value="{{ redirect_field_value }}" /> 
                            {% endif %}
                            <div class="input-field col s12">
                                <button class="btn waves-effect waves-light col s12 red darken-4" type="submit" name="action">{% trans "Register" %}</button>
                            </div>
                            <div class="col s12 center">
                                <p class="">
                                    <a href="{% url 'account_login' %}" class="red-text">Go back to Sign in</a>
                                </p>
                            </div>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>
{% endblock %}

{% block extra_script %}
    {{ block.super }}
    <script type="text/javascript">
        $(document).ready(function() {
            $('#id_password1').removeAttr('placeholder');
            $('#id_password2').removeAttr('placeholder');
            $('#id__username').removeAttr('placeholder');
            $('#id__email').removeAttr('placeholder');
            $("option[value='']").attr("disabled", "selected");
        });
        
    </script>
{% endblock %}
