{% extends "account/base_login.html" %}

{% load i18n %}
{% load account socialaccount %}
{% load widget_tweaks %}
{% block title %}{% trans "Sign up" %}{% endblock %}
{% block body_class %}red darken-3{% endblock %}

{% block body_outer %}
    <div class="row">
      {% get_providers as socialaccount_providers %}
      {% if socialaccount_providers %}
          <p>{% blocktrans with site.name as site_name %}Sign up with one
              of your existing third party accounts{% endblocktrans %}</p>
          {% include "socialaccount/snippets/provider_list.html" with process="signup" %}
          {% include "socialaccount/snippets/login_extra.html" %}
          <hr>
      {% endif %}
    </div>

    <div class="row">
        <div class="col s12 m8 offset-m2 xl6 offset-xl3 valign-wrapper" style="height: 100vh;">
            <div class="card white z-depth-4">
                <div class="card-content red-text text-darken-2">
                    <div class="row valign-wrapper">
                        <div class="col s9 m10 xl10">
                            <span class="card-title">{% trans "Sign up" %}</span>
                        </div>
                        <div class="col s3 m2 xl2">
                            <a href="{% url 'home' %}">
                                <img src="{{ STATIC_URL }}isdc/img/immap_logo/immap_full_color.png" width="60" class="circle responsive-img">
                            </a>
                        </div>
                    </div>
                    <div class="row">
                        <form id="signup_form" method="post" action="{% url "account_signup" %}" autocapitalize="off" {% if form.is_multipart %}
                        enctype="multipart/form-data" {% endif %}>
                            {% csrf_token %}
                            <div class="input-field col s3">
                                {{ form.title }}
                                <!-- <select aria-required="true" required="" class="validate">
                                    <option value="" disabled selected>Title</option>
                                    <option value="1">Mr</option>
                                    <option value="2">Mrs</option>
                                    <option value="3">Ms</option>
                                    <option value="2">Dr</option>
                                    <option value="3">Prof</option>
                                </select> -->
                                <label>Title</label>
                            </div>
                            <div class="input-field col s5">
                                {{ form.first_name }}
                                <!-- <input id="id__first_name" type="text" class="validate" aria-required="true" required=""> -->
                                <label for="id__first_name">First Name</label>
                            </div>
                            <div class="input-field col s4">
                                {{ form.last_name }}
                                <!-- <input id="last_name" type="text" class="validate"> -->
                                <label for="id__last_name">Last Name</label>
                            </div>
                            <div class="input-field col s12">
                                {{ form.username }}
                                <!-- <input id="usr" type="email" class="validate"> -->
                                <label for="id__username">Username</label>
                                <span class="helper-text" data-error="wrong" data-success="valid">You can use letters, numbers & periods</span>
                            </div>
                            <div class="input-field col s12">
                                {{ form.email }}
                                <!-- <input id="email" type="email" class="validate"> -->
                                <label for="id__email">Email</label>
                                <span class="helper-text" data-error="Please use valid email address" data-success="valid"></span>
                            </div>
                            <div class="input-field col s5">
                                {{ form.password1 |attr:"class:validate"|attr:"aria-required:true"|attr:"required"|attr:"onchange:form.id_password2.pattern = RegExp.escape(this.value);"|attr:"pattern:(?=.*\d)(?=.*[a-z])(?=.*[A-Z]).{6,}" }}
                                <!-- <input id="id_password1" name="password1" type="password" class="validate" aria-required="true" required onchange="form.id_password2.pattern = RegExp.escape(this.value);" pattern="(?=.*\d)(?=.*[a-z])(?=.*[A-Z]).{6,}"> -->
                                <label for="id_password1">Password</label>
                                <span class="helper-text" data-error="Passwords must contain at least 6 characters, including uppercase, lowercase letters and numbers." data-success="valid">Use 6 or more characters with a mix of letters, numbers & symbols</span>
                            </div>
                            <div class="input-field col s5">
                                {{ form.password2 |attr:"class:validate"|attr:"aria-required:true"|attr:"required" }}
                                <!-- <input id="id_password2" name="password2" type="password" class="validate" aria-required="true" required> -->
                                <label for="id_password2">Confirm Password</label>
                                <span class="helper-text" data-error="Please enter the same password" data-success="valid">Re-type the password</span>
                            </div>
                            <div class="input-field col s2">
                                <a class="waves-effect waves-light btn-floating red darken-4"><i id="vis_pwd" class="material-icons">visibility_off</i></a>
                            </div>
                            <div class="input-field col s8">
                                {{ form.organization }}
                                <!-- <input id="org" type="text" class="validate"> -->
                                <label for="id__organization">Organization</label>
                                <span class="helper-text" data-error="wrong" data-success="valid">Your Workplace</span>
                            </div>
                            <div class="input-field col s4">
                                {{ form.org_acronym }}
                                <!-- <input id="arc" type="text" class="validate"> -->
                                <label for="id__org_acronym">Acronym</label>
                                <span class="helper-text" data-error="wrong" data-success="valid">Helper text</span>
                            </div>
                            <div class="input-field col s12">
                                {{ form.position }}
                                <!-- <input id="job" type="text" class="validate"> -->
                                <label for="id__position">Function/Position</label>
                                <span class="helper-text" data-error="wrong" data-success="valid">Helper text</span>
                            </div>
                            {% if redirect_field_value %}
                            <input type="hidden" name="{{ redirect_field_name }}" value="{{ redirect_field_value }}" /> 
                            {% endif %}
                            <div class="input-field col s12">
                                <button class="btn waves-effect waves-light col s12 red darken-4" type="submit" name="action">{% trans "Register" %}</button>
                            </div>
                            <div class="col s12 center">
                                <p class="grey-text text-darken-2">
                                    Already have an account? 
                                    <a href="{% url 'account_login' %}" class="red-text">Sign in</a>
                                </p>
                            </div>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>
{% endblock %}

{% block extra_script %}
    {{ block.super }}
    <script type="text/javascript">
        $(document).ready(function() {
            $('#id_password1').removeAttr('placeholder');
            $('#id_password2').removeAttr('placeholder');
            $('#id__username').removeAttr('placeholder');
            $('#id__email').removeAttr('placeholder');
            $("option[value='']").attr("disabled", "selected");
        });

        // polyfill for RegExp.escape
        if(!RegExp.escape) {
            RegExp.escape = function(s) {
            return String(s).replace(/[\\^$*+?.()|[\]{}]/g, '\\$&');
            };
        }
        
    </script>
{% endblock %}
