{% extends "geonode_base.html" %}
{% load i18n %}
{% load base_tags %}
{% load guardian_tags %}
{% load pagination_tags %}

{% block title %} {{ block.super }} {% endblock %}

{% block body_class %}documents{% endblock %}

{% block middle %} 
    <nav class="red darken-3 breadcrumb-universal">
        <div class="nav-wrapper">
            <div class="col s12">
                <a href="{% url 'document_browse' %}?limit={{ CLIENT_RESULTS_LIMIT }}" class="breadcrumb">{% trans "Documents" %}</a>
                <a href="{% url 'document_upload' %}" class="breadcrumb">{% trans "Upload Documents" %}</a>
            </div>
        </div>
    </nav>
    {{ block.super }}
{% endblock middle %}

{% block body_outer %}
	<section style="min-height: 64vh;">
		<div class="page-header" style="padding: 0 15px;">
			<a href="{% url "document_browse" %}?limit={{ CLIENT_RESULTS_LIMIT }}" class="btn waves-effect waves-light red darken-3 right">{% trans "Explore Documents" %}</a>
			<h4 class="page-title">{% trans "Upload Documents" %}</h4>
		</div>
		<div class="row">
			{% block body %}{% endblock body %}
			{% block sidebar %}{% endblock sidebar %}
		</div>
	</section>
{% endblock body_outer %}
