{% extends "documents/document_base.html" %}
{% load i18n %}

{% block title %}{% trans "Deleting" %} {{ document.title }} — {{ block.super }}{% endblock %}

{% block body_class %}grey lighten-4{% endblock body_class %}

{% block document_breadcrumb %}
    <a href="{{ document.get_absolute_url }}" class="breadcrumb">{{ document.title }}</a>
    <a href="{% url 'document_remove' document.id %}" class="breadcrumb">{% trans "Remove Document" %}</a>
{% endblock document_breadcrumb %}

{% block body %}
    <section style="min-height: 64vh;">
        <div class="row">
            <div class="col s12">
                <div class="card">
                    <div class="card-content">
                        <span class="card-title">{% trans "Remove Document" %}</span>
                        <p class="">
                            {% blocktrans with document.title as document_title %}
                                Are you sure you want to remove <a href="{{ document.get_absolute_url }}">{{ document_title }}</a>?
                            {% endblocktrans %}
                        </p>
                        <form action="{% url "document_remove" document.id %}" method="POST">
                            {% csrf_token %}
                            <div class="right-align">
                                <a href="{{ document.get_absolute_url }}" class="btn-flat waves-effect waves-light ">{% trans "No, don't remove it" %}</a>
                                <button class="btn waves-effect waves-light red darken-3" type="submit" name="action">{% trans "Yes, Remove it" %}</button>
                            </div>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </section>
{% endblock %}