{% extends "documents/document_upload_base.html" %}
{% load staticfiles %}
{% load bootstrap_tags %}
{% load i18n %}

{% block title %} {% trans "Upload Document's Thumbnail" %} - {{ block.super }} {% endblock %}

{% block body_class %}data documents upload grey lighten-4{% endblock body_class %}

{% block head %}
    {% include "geoext/ext_header.html" %}
    {% include "geoext/app_header.html" %}
    {{ block.super }}
{% endblock %}

{% block upload_breadcrumb %}
    <a href="{{ document.get_absolute_url }}" class="breadcrumb">{{ resource.title }}</a>
    <a href="{% url 'document_thumb_upload' resource.id %}" class="breadcrumb">{% trans "Upload Document Thumbnail" %}</a>
{% endblock upload_breadcrumb %}

{% block body_outer %}
    <section style="min-height: 64vh;">
        <div class="row">
            <div class="col s12">
                <div class="card">
                    <div class="card-content">
                        <div class="" style="padding: 0 15px;">
                            <a href="{% url "document_browse" %}?limit={{ CLIENT_RESULTS_LIMIT }}" class="btn waves-effect waves-light red darken-3 right">{% trans "Explore Documents" %}</a>
                            <h4 class="">{% trans "Upload Document's Thumbnail" %}</h4>
                        </div>
                        <div class="row">
                            <div class="col s12 l12">
                                <section id="drop-zone" class="grey lighten-4 grey-text text-darken-1">
                                    <div class="center">
                                        <i class="material-icons">cloud_upload</i>
                                        <br>
                                        <span>
                                            {% trans "Drop files to upload or" %}
                                            <form id="file-uploader" method="post" enctype="multipart/form-data">
                                                <input type="hidden" name="csrfmiddlewaretoken" value="{{ csrf_token }}" />
                                                <input id="permissions" name="permissions" type="hidden">
                                                <!-- UI change to hide the list of previously uploaded files from the user -->
                                                <input type="file" id="file-input" style="display: none;" multiple>
                                                <input class="btn red darken-3" type="button" value="Choose Files" onclick="document.getElementById('file-input').click();">
                                            </form>
                                        </span>
                                    </div>
                                </section>
                            </div>
                            <div class="col s12">
                                {% block additional_info %}{% endblock %}

                                {% if errors %}
                                    <div id="errors" class="alert alert-danger">
                                        {% for error in errors %}
                                            <p>{{ error }}</p>
                                        {% endfor %}
                                    </div>
                                {% endif %}

                                <div id="upload-status"></div>

                                <section class="widget">
                                    <ul id="global-errors"></ul>
                                    <p>{% trans "Files to be uploaded" %} :</p>
                                    <div id="file-queue"></div>
                                    <div class="checkbox" style="display:none;" id="style_upload_form_check">
                                        Is Upload Metadata XML Form
                                        <input type="checkbox" name="style_upload_form" id="id_style_upload_form" checked="true"/>
                                        <input type="text" name="layer_title" id="id_layer_title" value="{{ resource.alternate }}"/>
                                    </div>
                                </section>

                                <section>
                                    <a href="#" id="upload-button" class="btn waves-effect waves-light red darken-3">{% trans "Upload files" %}</a>
                                    <!-- Modal Trigger -->
                                    <a href="#modal_permission" id="" class="btn-flat btn-flat-border modal-trigger waves-effect waves-light red-text text-darken-3">{% trans "Change Permissions" %}</a>
                                    <a href="{% url "document_thumb_upload" resource.id %}" id="clear-button" class="btn-flat waves-effect waves-light">{% trans "Clear" %}</a>
                                </section>

                                <form id="permission_form">
                                    {% include "_permissions02.html" %}
                                </form>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
{% endblock %} 

{% block extra_script %}
    {{ block.super }}
    <script data-main="{% static 'geonode/js/upload/main' %}" 
            src="{% static 'lib/js/require.js' %}">
    </script>

    <script type="text/javascript">
        {% autoescape off %}
            csrf_token =  "{{ csrf_token }}",
            form_target = "{% url "document_thumb_upload" docid=resource.id %}",
            geogig_enabled = {{ GEOGIG_ENABLED|lower  }},
            time_enabled = false,
            mosaic_enabled = false,
            userLookup = "{% url "account_ajax_lookup" %}"
        {% endautoescape %}
    </script>

    {% if GEONODE_SECURITY_ENABLED %}
        {% include "_permissions_form_js.html" %}
    {% endif %}

    <script type="text/javascript">
        $('#id_doc_file').on('change', function(){
            if($('#id_title').val() == ''){
                $('#id_title').val($('#id_doc_file').val().replace("C:\\fakepath\\", ""));
            }
        });

        $("#id_links").select2({
            width: '100%'
        });

        $('#upload_form').submit(function(){
            $('#permissions').val(JSON.stringify(permissionsString($('#permission_form'),'base')));
        });
    </script>
{% endblock extra_script %}