{% load i18n %}

{% if SEARCH_FILTERS.CATEGORIES_ENABLED %}
    <li ng-cloak>
        <div class="collapsible-header red darken-3 white-text"><i class="material-icons">category</i>{% trans "Categories" %}</div>
        <div class="collapsible-body">
            <ul class="collapsible expandable" style="max-height: 240px; overflow-y: scroll;">
                <li ng-repeat="category in categories" ng-if="category.count > 0">
                    {% verbatim %}
                    <div class="collapsible-header" data-value="{{ category.identifier }}" data-filter="category__identifier__in">
                        <i class="material-icons" ng-if="!category.show" ng-click="test($event)" >add</i>
                        <i class="material-icons" ng-if="category.show" ng-click="test($event)" >add</i>
                        {{ category.gn_description | limitTo: 25 }}{{ category.gn_description.length > 25 ? '...' : ''}}
                    </div>
                    <div class="collapsible-body" ng-show="category.show">
                        <div style="padding: 15px;">
                            <div ng-repeat="item in category.children" ng-if="item.count > 0">
                                <label>
                                    <input type="checkbox" class="filled-in" data-value="{{ item.identifier }}" data-filter="category__identifier__in" ng-click="multiple_choice_listener($event)" />
                                    <span>{{ item.gn_description | limitTo: 25 }}{{ item.gn_description.length > 25 ? '...' : ''}}</span>
                                    <span class="badge">{{ item.count }}</span>
                                </label>
                            </div>
                        </div>
                    </div>
                    {% endverbatim %}
                </li>
                <li>
                    <div class="collapsible-header">Drought</div>
                    <div class="collapsible-body">
                        <div style="padding: 15px;">
                            <div>
                                <label>
                                    <input type="checkbox" class="filled-in" />
                                    <span>Forecast</span>
                                    <span class="badge">4</span>
                                </label>
                            </div>
                            <div>
                                <label>
                                    <input type="checkbox" class="filled-in" />
                                    <span>Provincial</span>
                                    <span class="badge">7</span>
                                </label>
                            </div>
                            <div>
                                <label>
                                    <input type="checkbox" class="filled-in" />
                                    <span>Nationwide</span>
                                    <span class="badge">4</span>
                                </label>
                            </div>
                        </div>
                    </div>
                </li>
            </ul>
        </div>
    </li>
{% endif %}

{% if SEARCH_FILTERS.H_KEYWORDS_ENABLED %}
    <li>
        <div class="collapsible-header red darken-3 white-text"><i class="material-icons">edit_location</i>{% trans "Keywords" %}</div>
        <div class="collapsible-body">
            <div style="padding: 0 15px;">
                <div ng-repeat="keyword in keywords" ng-if="keyword.count > 0">
                    {% verbatim %}
                    <label>
                        <input type="checkbox" class="filled-in" data-value="{{ keyword.slug }}" data-filter="keywords__slug__in" ng-click="multiple_choice_listener($event)" />
                        <span>{{ keyword.name }}</span>
                        <span class="badge">{{ keyword.count }}</span>
                    </label>
                    {% endverbatim %}
                </div>
            </div>
            <div id="treeview"></div>
        </div>
    </li>
{% endif %}

{% if SEARCH_FILTERS.DATE_ENABLED %}
    <li ng-cloak>
        <div class="collapsible-header red darken-3 white-text"><i class="material-icons">date_range</i>{% trans "Date" %}</div>
        <div class="collapsible-body">
            <div class="row">
                <div class="input-field col s6">
                    <input type="text" id="from_date" class="datepicker filter_date" data-date-format="YYYY-MM-DD" ng-model="date_query.date__gte">
                    <label for="from_date">{% trans "From" %}</label>
                </div>
                <div class="input-field col s6">
                    <input type="text" id="to_date" class="datepicker filter_date" data-date-format="YYYY-MM-DD" ng-model="date_query.date__lte">
                    <label for="to_date">{% trans "To" %}</label>
                </div>
            </div>
        </div>
    </li>
{% endif %}