{% load i18n %}

<ul class="pagination">
    <li class="disabled" ng-click="paginate_down()"><a href="#!"><i class="material-icons">chevron_left</i></a></li>
    <li><a href>{% trans "page" %} <span ng-model="page" ng-bind="page"></span> {% trans "of" %} <span ng-bind="numpages"></span></a></li>
    <!-- <li class="active"><a href="#!">1</a></li>
    <li class="waves-effect"><a href="#!">2</a></li>
    <li class="waves-effect"><a href="#!">3</a></li>
    <li class="waves-effect"><a href="#!">4</a></li>
    <li class="waves-effect"><a href="#!">5</a></li> -->
    <li class="waves-effect" ng-click="paginate_up()"><a href="#!"><i class="material-icons">chevron_right</i></a></li>
</ul>