{% load i18n %}
{% load base_tags %}

<li>
    <div class="collapsible-header red darken-3 white-text"><i class="material-icons">terrain</i>Regions</div>
    <div class="collapsible-body">
        <div style="padding: 0 15px;">
            {% verbatim %}
            <div ng-repeat="region in regions">
                <label>
                    <input type="checkbox" class="filled-in" data-value="{{ region.name }}" data-filter="regions__name__in" ng-click="multiple_choice_listener($event)"/>
                    <span>{{ region.name }}</span>
                    <span class="badge">{{ region.count }}</span>
                </label>
            </div>
            {% endverbatim %}
        </div>
    </div>
</li>