{% load i18n %}

<div>
    <div class="col s12">
        <a href="#" data-target="filter_right" class="button-collapse btn-flat btn-flat-border sidenav-trigger btn-sidenav-right grey-text text-darken-2" style="display:inline-block;">
            <!-- <i class="material-icons">sort</i> -->
            {% trans "Filter" %}
        </a>
        <!-- {% trans "Showing max 20" %} -->
        <!-- <span ng-bind="'from '+ total_counts + ' {{ facet_type | title }}'"></span> -->
        {% include "search/_sort_filters.html" %}
    </div>
    {% include 'base/_resourcebase_snippet.html' %}
</div>
<div class="right">
    {% include 'search/_pagination.html' %}
</div>

{% include "_bulk_permissions_form.html" %}

<aside>
    <!-- <resource-cart data-facet-type="{{ facet_type }}"></resource-cart> -->
    <ul class="sidenav sidenav-right sidenav-fixed grey lighten-4" id="filter_right" style="padding-top:10;">
        <li class="red darken-3 white-text filter-menu-title">
            <div class="">
                <a class="waves-effect btn-flat show-on-medium-and-down hide-on-large-only white-text filter-menu-close"><i class="material-icons">arrow_back</i></a>
                {% trans "Filters" %}
                <a href="." id="clear-search" class="white-text right">{% trans "RESET" %}</a>
            </div>
        </li>
        <li class="filter-menu-content">
            {% if SEARCH_FILTERS.TEXT_ENABLED %}
                {% include "search/_text_filter.html" %}
            {% endif  %}
        </li>
        <li class="no-padding">
            <ul class="collapsible popout">
                {% if SEARCH_FILTERS.TYPE_ENABLED and include_type_filter == 'true' %}
                    {% include "search/_type_filters.html" %}
                {% endif %}
                {% include "search/_region_filter.html" %}
                {% include "search/_province_filter.html" %}
                {% include "search/_general_filters.html" %}
                {% if SEARCH_FILTERS.EXTENT_ENABLED %}
                    {% include "search/_extent_filter.html" %}
                {% endif %}
            </ul>
        </li>
    </ul>
</aside>

