{% load i18n %}

<div>
    <div class="col s12">
        <a href="#" data-target="filter_right" class="button-collapse btn-flat btn-flat-border sidenav-trigger btn-sidenav-right grey-text text-darken-2" style="display:inline-block;">
            <!-- <i class="material-icons">sort</i> -->
            {% trans "Filter" %}
        </a>
        <!-- {% trans "Showing max 20" %} -->
        <!-- <span ng-bind="'from '+ total_counts + ' {{ facet_type | title }}'"></span> -->
        {% include "search/_sort_filters.html" %}
    </div>
    {% include 'base/_resourcebase_snippet.html' %}
</div>
<div class="right">
    {% include 'search/_pagination.html' %}
</div>

{% include "_bulk_permissions_form.html" %}

<aside>
    <!-- <resource-cart data-facet-type="{{ facet_type }}"></resource-cart> -->
    <ul class="sidenav sidenav-right sidenav-fixed grey lighten-4" id="filter_right" style="padding-top:10;">
        <li class="red darken-3 white-text filter-menu-title">
            <div class="">
                <a class="waves-effect btn-flat show-on-medium-and-down hide-on-large-only white-text filter-menu-close"><i class="material-icons">arrow_back</i></a>
                {% trans "Filters" %}
                <a href="." id="clear-search" class="white-text right">{% trans "RESET" %}</a>
            </div>
        </li>
        <li class="filter-menu-content">
            {% if SEARCH_FILTERS.TEXT_ENABLED %}
                {% include "search/_text_filter.html" %}
            {% endif  %}
        </li>
        <li class="no-padding">
            <ul class="collapsible popout">
                {% if SEARCH_FILTERS.TYPE_ENABLED and include_type_filter == 'true' %}
                    {% include "search/_type_filters.html" %}
                {% endif %}
                <li>
                    <div class="collapsible-header red darken-3 white-text"><i class="material-icons">filter_drama</i>Regions</div>
                    <div class="collapsible-body">
                        <div style="padding: 0 15px;">
                            <div>
                                <label>
                                    <input type="checkbox" class="filled-in" />
                                    <span>Afghanistan</span>
                                    <span class="badge">7</span>
                                </label>
                            </div>
                        </div>
                    </div>
                </li>
                <li>
                    <div class="collapsible-header red darken-3 white-text"><i class="material-icons">filter_drama</i>Provinces/District</div>
                    <div class="collapsible-body">
                        <ul class="collapsible expandable" style="max-height: 240px; overflow-y: scroll;">
                            <li>
                                <div class="collapsible-header collapsible-prov">
                                    <div>
                                        <label>
                                            <input type="checkbox" class="filled-in" />
                                            <span>Badakhshan</span>
                                            <span class="badge">40</span>
                                        </label>
                                    </div>
                                    <i class="material-icons">expand_more</i>
                                </div>
                                <div class="collapsible-body">
                                    <div style="padding: 15px;">
                                        <div>
                                            <label>
                                                <input type="checkbox" class="filled-in" />
                                                <span>Nationwide</span>
                                                <span class="badge">4</span>
                                            </label>
                                        </div>
                                        <div>
                                            <label>
                                                <input type="checkbox" class="filled-in" checked />
                                                <span>Provincial</span>
                                                <span class="badge">7</span>
                                            </label>
                                        </div>
                                    </div>
                                </div>
                            </li>
                            <li>
                                <div class="collapsible-header">Drought</div>
                                <div class="collapsible-body">
                                    <div style="padding: 15px;">
                                        <div>
                                            <label>
                                                <input type="checkbox" class="filled-in" />
                                                <span>Forecast</span>
                                                <span class="badge">4</span>
                                            </label>
                                        </div>
                                    </div>
                                </div>
                            </li>
                        </ul>
                    </div>
                </li>
                {% include "search/_general_filters.html" %}
                {% if SEARCH_FILTERS.EXTENT_ENABLED %}
                    {% include "search/_extent_filter.html" %}
                {% endif %}
            </ul>
        </li>
    </ul>
</aside>

