{% load i18n %}

<!-- Dropdown Trigger -->
<div class="grey-text text-darken-1 right">
    <a class='dropdown-trigger waves-effect btn-flat btn-flat-border grey-text text-darken-1' href='#' data-target='sort'>
        <span ng-if="dataValue == 'title' || dataValue == 'username'" ng-cloak>{% trans "A - Z" %} <i class="material-icons right">expand_more</i></span>
        <span ng-if="dataValue == '-title' || dataValue == '-username'" ng-cloak>{% trans "Z - A" %} <i class="material-icons right">expand_more</i></span>
        <span ng-if="dataValue == 'date' || dataValue == 'last_modified' || dataValue == 'date_joined'" ng-cloak>{% trans "Less Recent" %} <i class="material-icons right">expand_more</i></span>
        <span ng-if="dataValue == '-date' || dataValue == '-last_modified' || dataValue == '-date_joined'" ng-cloak>{% trans "Most Recent" %} <i class="material-icons right">expand_more</i></span>
        <span ng-if="dataValue == '-popular_count'" ng-cloak>{% trans "Most popular" %} <i class="material-icons right">expand_more</i></span>
        <span ng-if="dataValue == null" ng-cloak>{% trans "Sort By" %} <i class="material-icons right">expand_more</i></span>
    </a>
</div>

<!-- Dropdown Structure -->
<ul id='sort' class='dropdown-content'>
    {% if facet_type != 'groups' and facet_type != 'people' and facet_type != 'groupcategories' %}
        <li><a data-value="-date" data-filter="order_by" class="selected" ng-click="single_choice_listener($event)">{% trans "Most Recent" %}</a></li>
        <li><a data-value="date" data-filter="order_by" ng-click="single_choice_listener($event)">{% trans "Less Recent" %}</a></li>
        <li><a data-value="title" data-filter="order_by" ng-click="single_choice_listener($event)">{% trans "A - Z" %}</a></li>
        <li><a data-value="-title" data-filter="order_by" ng-click="single_choice_listener($event)">{% trans "Z - A" %}</a></li>
        <li><a data-value="-popular_count" data-filter="order_by" ng-click="single_choice_listener($event)">{% trans "Most popular" %}</a></li>
    {% elif facet_type == 'groups' %}
        <li><a data-value="-last_modified" data-filter="order_by" class="selected" ng-click="single_choice_listener($event)">{% trans "Most recent" %}</a></li>
        <li><a data-value="last_modified" data-filter="order_by" ng-click="single_choice_listener($event)">{% trans "Less recent" %}</a></li>
        <li><a data-value="title" data-filter="order_by" ng-click="single_choice_listener($event)">{% trans "A - Z" %}</a></li>
        <li><a data-value="-title" data-filter="order_by" ng-click="single_choice_listener($event)">{% trans "Z - A" %}</a></li>
    {% elif facet_type == 'people' %}
        <li><a data-value="-date_joined" data-filter="order_by" class="selected" ng-click="single_choice_listener($event)">{% trans "Most recent" %}</a></li>
        <li><a data-value="date_joined" data-filter="order_by" ng-click="single_choice_listener($event)">{% trans "Less recent" %}</a></li>
        <li><a data-value="username" data-filter="order_by" ng-click="single_choice_listener($event)">{% trans "A - Z" %}</a></li>
        <li><a data-value="-username" data-filter="order_by" ng-click="single_choice_listener($event)">{% trans "Z - A" %}</a></li>
    {% endif %}
</ul>