{% load i18n %}
{% load base_tags %}

<li class="active">
    <div class="collapsible-header red darken-3 white-text"><i class="material-icons">text_format</i>{% trans header %}</div>
    <div class="collapsible-body">
        <div style="padding: 15px;">
            {% facets as facets %}
            {% for facet, count in facets.items %}
                {% if count > 0 %}
                    <div>
                        <label>
                            <input type="checkbox" class="filled-in" id="{{ facet }}" data-value="{{ facet }}" data-filter="{{ filter }}" ng-click="multiple_choice_listener($event)" />
                            <span>{{ facet|get_facet_title|title }}{{ count|pluralize}}</span>
                            <span class="badge">{{ count }}</span>
                        </label>
                    </div>
                {% endif %}
            {% endfor %}
        </div>
    </div>
</li>