{% extends "pinax/notifications/base.html" %}
{% load i18n %}

{% block body_id %}notification-settings{% endblock %}
{% block head_title %}{% trans "Notification Settings" %}{% endblock %}

{% block settings %}
    <a href="{% url 'notice_settings' %}" class="breadcrumb">{% trans "Settings" %}</a>
{% endblock settings %}

{% block body_outer %}
    <section style="min-height: 64vh;">
        <div class="row">
            <div class="col s12">
                <div class="card">
                    <div class="card-content">
                        <span class="card-title">{% trans "Notification Settings" %}</span>
                        {% url "account_settings" as email_url %}
                        {% if not request.user.email %}
                            {% blocktrans %}
                            <p class="alert alert-warning">
                                <span class="warning">Note</span>:
                                You do not have a verified email address to which notices can be sent. <a href="{{ email_url }}">Add one</a> now.
                            </p>
                            {% endblocktrans %}
                        {% endif %}

                        <form method="POST" class="form" action="">
                            {% csrf_token %}
                            <table class="striped notice_settings">
                                <tr class="grey white-text">
                                    <th>{% trans "Notification Type" %}</th>
                                    {% for header in notice_settings.column_headers %}
                                        <th class="center">
                                            {{ header.title }}
                                        </th>
                                    {% endfor %}
                                </tr>
                                {% for row in notice_settings.rows %}
                                    <tr class="notice-row">
                                        <td>
                                            <strong>{{ row.notice_type.display }}</strong><br/>
                                            <span class="notice_type_description">
                                                {{ row.notice_type.description }}
                                            </span>
                                        </td>
                                        {% for cell in row.cells %}
                                            <td class="center">
                                                <label>
                                                    <input type="checkbox" class="filled-in" name="{{ cell.0 }}" {% if cell.1 %}checked="yes"{% endif %}/>
                                                    <span></span>
                                                </label>
                                            </td>
                                        {% endfor %}
                                    </tr>
                                {% endfor %}
                            </table>
                    
                            <div class="center">
                                <button type="submit" class="btn waves-effect waves-light red darken-3">{% trans "Change" %}</button>
                            </div>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </section>
{% endblock %}
