{% extends "announcements/base.html" %}
{% load i18n %}

{% block body_class %}announcements grey lighten-4{% endblock %}

{% block announcement %}
    <a href="{{ announcement.get_absolute_url }}" class="breadcrumb">{{ announcement.title }}</a>
{% endblock announcement %}

{% block body_outer %}
    <section style="min-height: 64vh;">
        <div class="row">
            <div class="col s12">
                <div class="card">
                    <div class="card-content">
                        <span class="card-title">{% trans "Delete Announcement?" %}</span>
                        {% url "announcements_delete" pk=announcement.pk as post_url %}
                        <p class="">
                            {% trans "Are you sure you want to delete this announcement?" %}
                        </p>
                        <div class="card-panel z-depth-0 grey white-text">
                            <p><b>{{ announcement.title }}</b></p>
                            <p><em>{{ announcement.content }}</em></p>
                        </div>
                        <form action="{{ post_url }}" method="POST" class="">
                            {% csrf_token %}
                            <div class="center">
                                <a href="{% url "announcements_list" %}" class="btn-flat waves-effect waves-light">{% trans "Cancel" %}</a>
                                <button type="submit" class="btn waves-effect waves-light red darken-3">{% trans "Delete" %}</button>
                            </div>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </section>
{% endblock %}
