{% extends "announcements/base.html" %}
{% load i18n %}

{% block title %} {% blocktrans %}Announcements : {{ announcement }}{% endblocktrans %} {{ block.super }} {% endblock %}

{% block announcement %}
    <a href="{{ announcement.get_absolute_url }}" class="breadcrumb">{{ announcement.title }}</a>
{% endblock announcement %}

{% block body_outer %}
    <section style="min-height: 64vh;">
        <div class="row">
            <div class="col s12">
                <div class="card">
                    <div class="card-content">
                        <span class="card-title">{{ announcement.title }} ({{ announcement.level_label }})</span>
                        <small class="right">{{ announcement.creator }}, {{ announcement.creation_date }}</small>
                        <p>{{ announcement.content }}</p>
                    </div>
                </div>
            </div>
        </div>
    </section>
{% endblock %}
